<table class="table table-bordered"><thead><tr><th>Field</th>
<th>Type</th>
<th>Description</th></tr></thead><tbody><tr><td>id</td>
<td>Integer</td>
<td>RIALTO database primary key </td></tr></tbody><tbody><tr><td>doi</td>
<td>String</td>
<td>DOI (Digital Object Identifier)</td></tr></tbody><tbody><tr><td>academic_council_authored</td>
<td>Boolean</td>
<td>True if any Stanford author is a member of the Stanford Academic Council</td></tr></tbody><tbody><tr><td>apc</td>
<td>Integer</td>
<td>Article Processing Charge, in order of preference: (1) API "paid" price data from OpenAlex (typically comes from OpenAPC, a crowdsourced APC dataset where individual researchers and institutions can add APC data), (2) open dataset of APCs prepared by the ScholCom Lab at Simon Fraser University and available at  https://doi.org/10.7910/DVN/CR1MMV, (3) "list" price from OpenAlex. For any remaining publication, we estimate the APC based on the Open Access category: "Gold"=$2,450; "Hybrid"=$3,600; all other categories = $0.</td></tr></tbody><tbody><tr><td>faculty_authored</td>
<td>Boolean</td>
<td>True if any Stanford author has a primary role of faculty</td></tr></tbody><tbody><tr><td>federally_funded</td>
<td>Boolean</td>
<td>True if at least one of the publication’s funders is federal. Funder data for each publication is provided by Dimensions or OpenAlex, and we use the OSTP Impact dataset, enhanced with ROR identifiers, to identify which funders are federal. </td></tr></tbody><tbody><tr><td>journal_name</td>
<td>String</td>
<td>Name of journal which published the publication</td></tr></tbody><tbody><tr><td>open_access</td>
<td>String</td>
<td>Open Access category, as determined by OpenAlex or Dimensions. One of: diamond, gold, hybrid, green, bronze, closed. May be null.</td></tr></tbody><tbody><tr><td>primary_school</td>
<td>String</td>
<td>The primary Stanford school a Stanford author is affiliated with. There is a row in the dataset for each primary_school associated with an author. </td></tr></tbody><tbody><tr><td>pub_year</td>
<td>Integer</td>
<td>Year of publication</td></tr></tbody><tbody><tr><td>publisher</td>
<td>String</td>
<td>Publisher of the journal in which the publication appears, if applicable, obtained from OpenAlex.</td></tr></tbody><tbody><tr><td>types</td>
<td>String</td>
<td>Types of publication, normalized to values: Article, Book, Chapter, Correction/Retraction, Dataset, Dissertation, Editorial Material, Other. Types are pipe-delimited when there are multiple.</td></tr></tbody></table>
