<div class="row">
    <div class="d-flex justify-content-between">
        <h2><%= title %></h2>
        <%= link_to @help_url, class: 'text-end su-underline' do %>
            <i class="bi bi-box-arrow-up-right me-1"></i> Questions about this dashboard? Read the documentation
        <% end %>
    </div>
</div>
