<nav
  id="skip-link"
  class="visually-hidden-focusable"
  aria-label="Skip links">
  <div class="container-xl">
    <a class="d-inline-flex m-1 py-2 px-3" href="#main-container">
      Skip to main content</a>
  </div>
</nav>
