<div class="my-3">
  <h1>Introduction</h1>

  <p>RIALTO, a research intelligence service run by the Stanford University Libraries, collects, curates, and visualizes data about Stanford scholarship.</p>

  <p>Information about research outputs demonstrates contributions to the scholarly enterprise, enables impactful targeting of services, and simplifies reporting and assessment. However, compiling data related to research is challenging, requiring access to multiple data sources, analysis skills, and specialized knowledge of research policies and data practices. By taking a systematic approach to assembling information on Stanford research activity, RIALTO provides campus stakeholders with efficient access to information on publications and other research outputs through interactive dashboards, reducing the need for local data collection.</p>

  <p>Learn more about RIALTO and our services on the About page.</p>
</div>
