<div id="contents">
<style type="text/css">.doc-content {
@import url(https://themes.googleusercontent.com/fonts/css?kit=MXVwpSGzOOhqOc5hUWJbBGz5gjEr6E9pCkBDM47TPFiuLTmQu6UsEmvYSJgKYwdLppIJmJ9bXDHVyuT8AnUADQ);
ul.lst-kix_13lwrarbtmx9-2{
list-style-type:none
}ul.lst-kix_13lwrarbtmx9-1{
list-style-type:none
}ul.lst-kix_13lwrarbtmx9-0{
list-style-type:none
}ul.lst-kix_13lwrarbtmx9-6{
list-style-type:none
}ul.lst-kix_1bqzhn2h1wq-6{
list-style-type:none
}ul.lst-kix_13lwrarbtmx9-5{
list-style-type:none
}ul.lst-kix_1bqzhn2h1wq-7{
list-style-type:none
}.lst-kix_rv765y2jx61e-0>li:before{
content:"\0025cf   "
}ul.lst-kix_13lwrarbtmx9-4{
list-style-type:none
}ul.lst-kix_1bqzhn2h1wq-4{
list-style-type:none
}ul.lst-kix_13lwrarbtmx9-3{
list-style-type:none
}ul.lst-kix_1bqzhn2h1wq-5{
list-style-type:none
}.lst-kix_rv765y2jx61e-1>li:before{
content:"\0025cb   "
}ul.lst-kix_13lwrarbtmx9-8{
list-style-type:none
}ul.lst-kix_1bqzhn2h1wq-8{
list-style-type:none
}ul.lst-kix_13lwrarbtmx9-7{
list-style-type:none
}ul.lst-kix_hkdzuum1beu-7{
list-style-type:none
}.lst-kix_rv765y2jx61e-3>li:before{
content:"\0025cf   "
}ul.lst-kix_hkdzuum1beu-6{
list-style-type:none
}ul.lst-kix_hkdzuum1beu-5{
list-style-type:none
}.lst-kix_rv765y2jx61e-2>li:before{
content:"\0025a0   "
}.lst-kix_rv765y2jx61e-4>li:before{
content:"\0025cb   "
}ul.lst-kix_hkdzuum1beu-4{
list-style-type:none
}ul.lst-kix_hkdzuum1beu-8{
list-style-type:none
}.lst-kix_hkdzuum1beu-0>li:before{
content:"\0025cf   "
}.lst-kix_rv765y2jx61e-6>li:before{
content:"\0025cf   "
}.lst-kix_rv765y2jx61e-5>li:before{
content:"\0025a0   "
}ul.lst-kix_hkdzuum1beu-3{
list-style-type:none
}ul.lst-kix_hkdzuum1beu-2{
list-style-type:none
}ul.lst-kix_hkdzuum1beu-1{
list-style-type:none
}ul.lst-kix_hkdzuum1beu-0{
list-style-type:none
}ul.lst-kix_rv765y2jx61e-3{
list-style-type:none
}ul.lst-kix_rv765y2jx61e-2{
list-style-type:none
}ul.lst-kix_rv765y2jx61e-1{
list-style-type:none
}ul.lst-kix_rv765y2jx61e-0{
list-style-type:none
}ul.lst-kix_rv765y2jx61e-7{
list-style-type:none
}ul.lst-kix_rv765y2jx61e-6{
list-style-type:none
}ul.lst-kix_rv765y2jx61e-5{
list-style-type:none
}ul.lst-kix_rv765y2jx61e-4{
list-style-type:none
}ul.lst-kix_rv765y2jx61e-8{
list-style-type:none
}.lst-kix_13lwrarbtmx9-8>li:before{
content:"\0025a0   "
}ul.lst-kix_jdte366kve6h-7{
list-style-type:none
}ul.lst-kix_jdte366kve6h-8{
list-style-type:none
}ul.lst-kix_jdte366kve6h-5{
list-style-type:none
}ul.lst-kix_jdte366kve6h-6{
list-style-type:none
}.lst-kix_13lwrarbtmx9-6>li:before{
content:"\0025cf   "
}ul.lst-kix_jdte366kve6h-3{
list-style-type:none
}ul.lst-kix_jdte366kve6h-4{
list-style-type:none
}.lst-kix_13lwrarbtmx9-5>li:before{
content:"\0025a0   "
}.lst-kix_13lwrarbtmx9-7>li:before{
content:"\0025cb   "
}ul.lst-kix_jdte366kve6h-1{
list-style-type:none
}ul.lst-kix_jdte366kve6h-2{
list-style-type:none
}ul.lst-kix_jdte366kve6h-0{
list-style-type:none
}.lst-kix_13lwrarbtmx9-2>li:before{
content:"\0025a0   "
}.lst-kix_539fxmno4rlj-1>li:before{
content:"\0025cb   "
}.lst-kix_13lwrarbtmx9-1>li:before{
content:"\0025cb   "
}.lst-kix_13lwrarbtmx9-3>li:before{
content:"\0025cf   "
}.lst-kix_13lwrarbtmx9-0>li:before{
content:"\0025cf   "
}.lst-kix_13lwrarbtmx9-4>li:before{
content:"\0025cb   "
}.lst-kix_539fxmno4rlj-0>li:before{
content:"\0025cf   "
}.lst-kix_6j8gd4niv8z0-6>li:before{
content:"\0025cf   "
}.lst-kix_539fxmno4rlj-8>li:before{
content:"\0025a0   "
}.lst-kix_6j8gd4niv8z0-5>li:before{
content:"\0025a0   "
}.lst-kix_6j8gd4niv8z0-7>li:before{
content:"\0025cb   "
}.lst-kix_539fxmno4rlj-7>li:before{
content:"\0025cb   "
}.lst-kix_6j8gd4niv8z0-2>li:before{
content:"\0025a0   "
}ul.lst-kix_1b2z79q7hvw-5{
list-style-type:none
}ul.lst-kix_qhcss9ktuiqw-8{
list-style-type:none
}ul.lst-kix_1b2z79q7hvw-6{
list-style-type:none
}ul.lst-kix_qhcss9ktuiqw-7{
list-style-type:none
}.lst-kix_6j8gd4niv8z0-3>li:before{
content:"\0025cf   "
}ul.lst-kix_1b2z79q7hvw-7{
list-style-type:none
}ul.lst-kix_qhcss9ktuiqw-6{
list-style-type:none
}ul.lst-kix_1b2z79q7hvw-8{
list-style-type:none
}ul.lst-kix_qhcss9ktuiqw-5{
list-style-type:none
}.lst-kix_6j8gd4niv8z0-4>li:before{
content:"\0025cb   "
}ul.lst-kix_1b2z79q7hvw-1{
list-style-type:none
}ul.lst-kix_qhcss9ktuiqw-4{
list-style-type:none
}ul.lst-kix_1b2z79q7hvw-2{
list-style-type:none
}ul.lst-kix_qhcss9ktuiqw-3{
list-style-type:none
}ul.lst-kix_1b2z79q7hvw-3{
list-style-type:none
}.lst-kix_539fxmno4rlj-2>li:before{
content:"\0025a0   "
}ul.lst-kix_qhcss9ktuiqw-2{
list-style-type:none
}ul.lst-kix_1b2z79q7hvw-4{
list-style-type:none
}ul.lst-kix_qhcss9ktuiqw-1{
list-style-type:none
}ul.lst-kix_539fxmno4rlj-0{
list-style-type:none
}ul.lst-kix_qhcss9ktuiqw-0{
list-style-type:none
}ul.lst-kix_539fxmno4rlj-1{
list-style-type:none
}.lst-kix_1bqzhn2h1wq-0>li:before{
content:"\0025cf   "
}ul.lst-kix_539fxmno4rlj-2{
list-style-type:none
}ul.lst-kix_1b2z79q7hvw-0{
list-style-type:none
}ul.lst-kix_539fxmno4rlj-3{
list-style-type:none
}.lst-kix_539fxmno4rlj-3>li:before{
content:"\0025cf   "
}.lst-kix_539fxmno4rlj-4>li:before{
content:"\0025cb   "
}.lst-kix_539fxmno4rlj-5>li:before{
content:"\0025a0   "
}.lst-kix_6j8gd4niv8z0-1>li:before{
content:"\0025cb   "
}.lst-kix_6j8gd4niv8z0-0>li:before{
content:"\0025cf   "
}.lst-kix_539fxmno4rlj-6>li:before{
content:"\0025cf   "
}.lst-kix_jdte366kve6h-3>li:before{
content:"\0025cf   "
}.lst-kix_jdte366kve6h-5>li:before{
content:"\0025a0   "
}.lst-kix_jdte366kve6h-2>li:before{
content:"\0025a0   "
}.lst-kix_jdte366kve6h-6>li:before{
content:"\0025cf   "
}.lst-kix_hkdzuum1beu-1>li:before{
content:"\0025cb   "
}.lst-kix_rv765y2jx61e-7>li:before{
content:"\0025cb   "
}ul.lst-kix_539fxmno4rlj-8{
list-style-type:none
}.lst-kix_hkdzuum1beu-2>li:before{
content:"\0025a0   "
}.lst-kix_rv765y2jx61e-8>li:before{
content:"\0025a0   "
}.lst-kix_hkdzuum1beu-3>li:before{
content:"\0025cf   "
}ul.lst-kix_539fxmno4rlj-4{
list-style-type:none
}ul.lst-kix_539fxmno4rlj-5{
list-style-type:none
}ul.lst-kix_539fxmno4rlj-6{
list-style-type:none
}.lst-kix_jdte366kve6h-4>li:before{
content:"\0025cb   "
}ul.lst-kix_539fxmno4rlj-7{
list-style-type:none
}.lst-kix_hkdzuum1beu-5>li:before{
content:"\0025a0   "
}ul.lst-kix_6j8gd4niv8z0-4{
list-style-type:none
}.lst-kix_1bqzhn2h1wq-1>li:before{
content:"\0025cb   "
}ul.lst-kix_6j8gd4niv8z0-3{
list-style-type:none
}.lst-kix_hkdzuum1beu-4>li:before{
content:"\0025cb   "
}.lst-kix_hkdzuum1beu-6>li:before{
content:"\0025cf   "
}ul.lst-kix_6j8gd4niv8z0-6{
list-style-type:none
}.lst-kix_1bqzhn2h1wq-2>li:before{
content:"\0025a0   "
}ul.lst-kix_6j8gd4niv8z0-5{
list-style-type:none
}ul.lst-kix_6j8gd4niv8z0-8{
list-style-type:none
}ul.lst-kix_1bqzhn2h1wq-2{
list-style-type:none
}.lst-kix_1bqzhn2h1wq-3>li:before{
content:"\0025cf   "
}ul.lst-kix_6j8gd4niv8z0-7{
list-style-type:none
}ul.lst-kix_1bqzhn2h1wq-3{
list-style-type:none
}ul.lst-kix_1bqzhn2h1wq-0{
list-style-type:none
}ul.lst-kix_1bqzhn2h1wq-1{
list-style-type:none
}.lst-kix_1bqzhn2h1wq-5>li:before{
content:"\0025a0   "
}.lst-kix_hkdzuum1beu-8>li:before{
content:"\0025a0   "
}.lst-kix_1bqzhn2h1wq-4>li:before{
content:"\0025cb   "
}.lst-kix_1bqzhn2h1wq-6>li:before{
content:"\0025cf   "
}.lst-kix_jdte366kve6h-1>li:before{
content:"\0025cb   "
}.lst-kix_hkdzuum1beu-7>li:before{
content:"\0025cb   "
}ul.lst-kix_6j8gd4niv8z0-0{
list-style-type:none
}.lst-kix_6j8gd4niv8z0-8>li:before{
content:"\0025a0   "
}ul.lst-kix_6j8gd4niv8z0-2{
list-style-type:none
}ul.lst-kix_6j8gd4niv8z0-1{
list-style-type:none
}.lst-kix_jdte366kve6h-0>li:before{
content:"\0025cf   "
}.lst-kix_qhcss9ktuiqw-0>li:before{
content:"\0025cf   "
}.lst-kix_1b2z79q7hvw-7>li:before{
content:"\0025cb   "
}.lst-kix_1b2z79q7hvw-8>li:before{
content:"\0025a0   "
}.lst-kix_1bqzhn2h1wq-8>li:before{
content:"\0025a0   "
}.lst-kix_qhcss9ktuiqw-1>li:before{
content:"\0025cb   "
}.lst-kix_1bqzhn2h1wq-7>li:before{
content:"\0025cb   "
}.lst-kix_qhcss9ktuiqw-2>li:before{
content:"\0025a0   "
}.lst-kix_1b2z79q7hvw-5>li:before{
content:"\0025a0   "
}.lst-kix_qhcss9ktuiqw-4>li:before{
content:"\0025cb   "
}.lst-kix_qhcss9ktuiqw-3>li:before{
content:"\0025cf   "
}.lst-kix_qhcss9ktuiqw-5>li:before{
content:"\0025a0   "
}.lst-kix_1b2z79q7hvw-6>li:before{
content:"\0025cf   "
}li.li-bullet-0:before{
margin-left:-18pt;white-space:nowrap;display:inline-block;min-width:18pt
}.lst-kix_qhcss9ktuiqw-8>li:before{
content:"\0025a0   "
}.lst-kix_1b2z79q7hvw-0>li:before{
content:"\0025cf   "
}.lst-kix_qhcss9ktuiqw-7>li:before{
content:"\0025cb   "
}.lst-kix_qhcss9ktuiqw-6>li:before{
content:"\0025cf   "
}.lst-kix_1b2z79q7hvw-1>li:before{
content:"\0025cb   "
}.lst-kix_1b2z79q7hvw-3>li:before{
content:"\0025cf   "
}.lst-kix_1b2z79q7hvw-4>li:before{
content:"\0025cb   "
}.lst-kix_jdte366kve6h-7>li:before{
content:"\0025cb   "
}.lst-kix_1b2z79q7hvw-2>li:before{
content:"\0025a0   "
}.lst-kix_jdte366kve6h-8>li:before{
content:"\0025a0   "
}ol{
margin:0;padding:0
}table td,table th{
padding:0
}.c4{
-webkit-text-decoration-skip:none;color:#1155cc;font-weight:400;text-decoration:underline;vertical-align:baseline;text-decoration-skip-ink:none;font-size:11pt;font-family:"Arial";font-style:normal
}.c12{
-webkit-text-decoration-skip:none;color:#1155cc;font-weight:400;text-decoration:underline;vertical-align:baseline;text-decoration-skip-ink:none;font-size:11pt;font-family:"Source Sans 3";font-style:normal
}.c2{
margin-left:36pt;padding-top:12pt;padding-left:0pt;padding-bottom:12pt;line-height:1.15;orphans:2;widows:2;text-align:left
}.c10{
margin-left:36pt;padding-top:10pt;padding-left:0pt;padding-bottom:10pt;line-height:1.15;orphans:2;widows:2;text-align:left
}.c19{
color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:20pt;font-family:"Source Sans 3";font-style:normal
}.c24{
color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:16pt;font-family:"Source Sans 3";font-style:normal
}.c22{
padding-top:14pt;padding-bottom:4pt;line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}.c3{
color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Source Sans 3";font-style:normal
}.c17{
color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:26pt;font-family:"Source Sans 3";font-style:normal
}.c6{
padding-top:12pt;padding-bottom:10pt;line-height:1.15;orphans:2;widows:2;text-align:left
}.c7{
padding-top:12pt;padding-bottom:12pt;line-height:1.15;orphans:2;widows:2;text-align:left
}.c27{
padding-top:14pt;padding-bottom:4pt;line-height:1.15;orphans:2;widows:2;text-align:left
}.c15{
padding-top:24pt;padding-bottom:6pt;line-height:1.15;orphans:2;widows:2;text-align:left
}.c18{
padding-top:18pt;padding-bottom:4pt;line-height:1.15;orphans:2;widows:2;text-align:left
}.c26{
padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left
}.c14{
padding-top:0pt;padding-bottom:10pt;line-height:1.15;orphans:2;widows:2;text-align:left
}.c28{
color:#000000;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Source Sans 3";font-style:normal
}.c20{
padding-top:0pt;padding-bottom:12pt;line-height:1.15;orphans:2;widows:2;text-align:left
}.c13{
margin-left:18pt;padding-top:3pt;padding-bottom:0pt;line-height:1.15;text-align:left
}.c25{
text-decoration-skip-ink:none;-webkit-text-decoration-skip:none;color:#1155cc;text-decoration:underline
}.c23{
padding-top:3pt;padding-bottom:0pt;line-height:1.15;text-align:left
}.c21{
background-color:#ffffff;max-width:468pt;padding:72pt 72pt 72pt 72pt
}.c16{
color:#188038;font-weight:400;font-family:"Roboto Mono"
}.c11{
margin-left:36pt;padding-left:0pt
}.c5{
padding:0;margin:0
}.c8{
margin-left:72pt;padding-left:0pt
}.c9{
color:inherit;text-decoration:inherit
}.c1{
font-style:italic
}.c0{
font-weight:700
}.title{
padding-top:0pt;color:#000000;font-size:26pt;padding-bottom:3pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}.subtitle{
padding-top:0pt;color:#666666;font-size:15pt;padding-bottom:16pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}li{
color:#000000;font-size:11pt;font-family:"Source Sans 3"
}p{
margin:0;color:#000000;font-size:11pt;font-family:"Source Sans 3"
}h1{
padding-top:24pt;color:#000000;font-size:26pt;padding-bottom:6pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}h2{
padding-top:18pt;color:#000000;font-size:20pt;padding-bottom:4pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}h3{
padding-top:14pt;color:#000000;font-size:16pt;padding-bottom:4pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}h4{
padding-top:14pt;color:#666666;font-size:12pt;padding-bottom:4pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}h5{
padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}h6{
padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;font-style:italic;orphans:2;widows:2;text-align:left
}
}</style>
<div class="c21 doc-content">
<h1 class="c15" id="h.lwu1zrv53sse"><span class="c17">Documentation: Downloads</span></h1>
<p class="c26"><span class="c0 c28">Table of Contents</span></p>
<p class="c23"><span class="c12"><a class="c9" href="#h.dvjfrauvjtm5">Introduction</a></span></p>
<p class="c23"><span class="c12"><a class="c9" href="#h.1qygq1xruimz">Full Data Files</a></span></p>
<p class="c13"><span class="c12"><a class="c9" href="#h.zcsknyrsd7pb">publications.csv</a></span></p>
<p class="c13"><span class="c12"><a class="c9" href="#h.wk2qvxqrshk3">publications_by_school.csv</a></span></p>
<p class="c13"><span class="c12"><a class="c9" href="#h.ymz2lrohkkwf">publications_by_department.csv</a></span></p>
<p class="c13"><span class="c12"><a class="c9" href="#h.1gsstcp9xc7">publications_by_author.csv</a></span></p>
<p class="c13"><span class="c12"><a class="c9" href="#h.h0e1jmj8nshu">Note: Added Columns for Filtering</a></span></p>
<h2 class="c18" id="h.dvjfrauvjtm5"><span class="c19">Introduction</span></h2>
<p class="c7"><span class="c3">RIALTO offers two approaches to downloading data:</span></p>
<ul class="c5 lst-kix_qhcss9ktuiqw-0 start">
<li class="c6 c11 li-bullet-0">
<span class="c0">Downloading via dashboards</span><span>. Use the dashboard interface to filter and download data. This approach is appropriate if you want to quickly filter the data by a particular school, department, or author. For more information on how to download via a dashboard, see the </span><span class="c1">Data Download</span><span class="c3"> section on each dashboard’s documentation page.</span>
</li>
<li class="c6 c11 li-bullet-0">
<span class="c0">Downloading full data files</span><span>. Approved users can download full, unfiltered data files on the Downloads page. This approach is appropriate if you are doing more complex data manipulation and custom analyses. </span><span class="c25"><a class="c9" href="mailto:rialto-service@lists.stanford.edu">Email us</a></span><span class="c3"> to obtain permission to access these files.</span>
</li>
</ul>
<p class="c6"><span class="c3">The rest of this page describes the structure and contents of the full data files.</span></p>
<h2 class="c18" id="h.1qygq1xruimz"><span class="c19">Full Data Files</span></h2>
<p class="c7"><span class="c3">To support custom analyses, the RIALTO team provides several "flattened" (or denormalized) data files. Approved users can download the full data files via the Downloads page.</span></p>
<p class="c7"><span class="c3">Each file consolidates information from multiple database tables into a single file. This documentation describes the source, scope, and construction of each file.</span></p>
<p class="c7"><span class="c3">Please review this information to ensure you are using the data accurately in your own analysis.</span></p>
<h3 class="c27" id="h.zcsknyrsd7pb"><span class="c24">publications.csv</span></h3>
<p class="c7"><span>This file provides information on publications. It consists of a table where each row is unique by </span><span class="c1">publication</span><span class="c3">. Use this file for publication-level aggregating and analysis.</span></p>
<ul class="c5 lst-kix_1bqzhn2h1wq-0 start">
<li class="c2 li-bullet-0">
<span class="c0">Source:</span><span class="c3"> This file is a representation of a single database table, containing publication-level attributes (e.g., title, pub_year).</span>
</li>
<li class="c2 li-bullet-0">
<span class="c0">Scope:</span><span class="c3"> The file includes publications that have been authored by at least one known Stanford affiliate.</span>
</li>
<li class="c2 li-bullet-0">
<span class="c0">Column Details:</span><span class="c3"> While most columns are attributes of the publication itself, three special columns have been added to simplify common filtering tasks.</span>
</li>
</ul>
<h3 class="c27" id="h.wk2qvxqrshk3"><span class="c24">publications_by_school.csv</span></h3>
<p class="c7"><span>This file provides publication data joined with author information to include the primary school affiliation of each Stanford author. It consists of a table where each row is unique by </span><span class="c1">publication</span><span> and </span><span class="c1">primary school</span><span class="c3">. Use this file for School-level aggregating and analysis.</span></p>
<ul class="c5 lst-kix_1b2z79q7hvw-0 start"><li class="c2 li-bullet-0">
<span class="c0">Key Feature &amp; Duplication Warning:</span><span> This file is "denormalized" by the author's school. A single publication will appear as a separate row for </span><span class="c0">each unique Stanford school</span><span class="c3"> represented by its co-authors.</span>
</li></ul>
<ul class="c5 lst-kix_1b2z79q7hvw-1 start"><li class="c7 c8 li-bullet-0">
<span class="c0">Example:</span><span> If one publication has three Stanford co-authors from three different schools (e.g., Medicine, Engineering, and H&amp;S), that single publication will appear as </span><span class="c0">three separate rows</span><span>. The publication metadata (title, DOI, etc.) will be identical in each row, but the </span><span class="c16">school</span><span class="c3"> column will be different for each.</span>
</li></ul>
<ul class="c5 lst-kix_1b2z79q7hvw-0">
<li class="c2 li-bullet-0">
<span class="c0">Source:</span><span> This file joins data from two database tables: the primary publications table and the authors table (to extract the </span><span class="c16">school</span><span class="c3"> attribute).</span>
</li>
<li class="c2 li-bullet-0">
<span class="c0">Scope:</span><span class="c3"> Includes publications authored by at least one known Stanford affiliate. The join structure ensures that each school receives "credit" for a publication if any of its affiliates were co-authors.</span>
</li>
<li class="c2 li-bullet-0">
<span class="c0">Column Details:</span><span> Most columns are attributes of the publication itself. The </span><span class="c16">school</span><span> column is an attribute of the </span><span class="c1">author</span><span> (specifically, the primary school that author is affiliated with).</span>
</li>
</ul>
<h3 class="c27" id="h.ymz2lrohkkwf"><span class="c24">publications_by_department.csv</span></h3>
<p class="c7"><span>This file provides publication data joined with author information to include the primary department affiliation of each Stanford author. It consists of a table where each row is unique by </span><span class="c1">publication</span><span>, </span><span class="c1">primary school</span><span>, and </span><span class="c1">primary department</span><span class="c3">. Use this file for Department-level aggregating and analysis.</span></p>
<ul class="c5 lst-kix_539fxmno4rlj-0 start"><li class="c2 li-bullet-0">
<span class="c0">Key Feature &amp; Duplication Warning:</span><span> This file is "denormalized" by the author's primary department. A single publication will appear as a separate row for </span><span class="c0">each unique Stanford department</span><span class="c3"> represented by its co-authors.</span>
</li></ul>
<ul class="c5 lst-kix_539fxmno4rlj-1 start"><li class="c7 c8 li-bullet-0"><span class="c3">Example: If one publication has three Stanford co-authors from three different departments, that single publication will appear as three separate rows. The publication metadata (title, DOI, etc.) will be identical in each row, but the department column will be different for each.</span></li></ul>
<ul class="c5 lst-kix_539fxmno4rlj-0">
<li class="c2 li-bullet-0">
<span>⚠️ </span><span class="c0">Warning</span><span class="c3"> - Do Not Use for School-Level Counts: This file is deduplicated by department, not school. If a publication has co-authors from different departments within the same school, that school will appear in multiple rows for that single publication, leading to overcounting. For accurate school-level reporting, use the publications_by_school.csv file.</span>
</li>
<li class="c2 li-bullet-0">
<span class="c0">Source</span><span class="c3">: This file joins data from two database tables: the primary publications table and the authors table (to extract the department attribute).</span>
</li>
<li class="c2 li-bullet-0">
<span class="c0">Scope:</span><span class="c3"> Includes publications authored by at least one known Stanford affiliate. The join structure ensures that each department receives "credit" for a publication if any of its affiliates were co-authors.</span>
</li>
<li class="c2 li-bullet-0">
<span class="c0">Column Details:</span><span> Most columns are attributes of the publication itself. The </span><span class="c16">department</span><span> column is an attribute of the </span><span class="c1">author</span><span> (specifically, the primary department that author is affiliated with). This file also includes school information, which may be repeated (see warning above).</span>
</li>
</ul>
<h3 class="c22" id="h.1gsstcp9xc7"><span class="c24">publications_by_author.csv</span></h3>
<p class="c7"><span>This file provides a comprehensive join of publication data with attributes for each known Stanford co-author. It consists of a table where each row is unique by </span><span class="c1">publication</span><span> and </span><span class="c1">SUNet ID</span><span class="c3">. Use this file for Author-level aggregating and analysis.</span></p>
<ul class="c5 lst-kix_6j8gd4niv8z0-0 start">
<li class="c6 c11 li-bullet-0">
<span class="c0">Primary Use: </span><span class="c3">This file is intended for person-level reporting (e.g., "How many publications did person X co-author?").</span>
</li>
<li class="c14 c11 li-bullet-0">
<span class="c0">Key Feature &amp; Duplication Warning: </span><span class="c3">Publication metadata is duplicated for every known Stanford co-author on that publication.</span>
</li>
</ul>
<ul class="c5 lst-kix_6j8gd4niv8z0-1 start"><li class="c14 c8 li-bullet-0"><span class="c3">Example: If a publication has three Stanford co-authors, that single publication will appear as three separate rows. The publication metadata will be identical, but the author attributes (sunet, role, etc.) will be different for each row.</span></li></ul>
<ul class="c5 lst-kix_6j8gd4niv8z0-0">
<li class="c14 c11 li-bullet-0">
<span>⚠️ </span><span class="c0">Warning</span><span> - Do Not Use for Publication Counts: This file is denormalized by </span><span class="c1">person</span><span class="c3"> and should not be used to count publications by department, or school. Doing so will result in significant overcounting.</span>
</li>
<li class="c11 c14 li-bullet-0">
<span>⚠️ </span><span class="c0">Warning</span><span class="c3"> - Reporting by Role (e.g., Faculty Publications):</span>
</li>
</ul>
<ul class="c5 lst-kix_6j8gd4niv8z0-1 start">
<li class="c26 c8 li-bullet-0">
<span>This file is the only way to generate a comprehensive report on publications by an author's </span><span class="c1">role</span><span class="c3">.</span>
</li>
<li class="c8 c26 li-bullet-0">
<span>However, if you filter this file by a role (e.g., "Faculty") and then count the rows, you are counting </span><span class="c1">faculty authors</span><span>, not </span><span class="c1">faculty-authored publications</span><span class="c3">.</span>
</li>
<li class="c26 c8 li-bullet-0"><span class="c3">To get an accurate count of publications: You must filter by the desired role and then de-duplicate the data by DOI (or another unique combination of publication attributes) before counting.</span></li>
<li class="c26 c8 li-bullet-0"><span class="c3">Not all publications have DOIs, deduplicating by DOI may result in the loss of some publications.</span></li>
</ul>
<ul class="c5 lst-kix_6j8gd4niv8z0-0">
<li class="c10 li-bullet-0">
<span class="c0">Source:</span><span class="c3"> This file is a comprehensive join of the publications table and the authors table.</span>
</li>
<li class="c14 c11 li-bullet-0">
<span class="c0">Scope:</span><span class="c3"> Includes publications authored by at least one known Stanford affiliate.</span>
</li>
<li class="c6 c11 li-bullet-0">
<span class="c0">Column Details:</span><span class="c3"> Includes all publication attributes, plus attributes of the individual Stanford authors, such as sunet, orcid, and role.</span>
</li>
</ul>
<h3 class="c22" id="h.h0e1jmj8nshu"><span class="c24">Note: Added Columns for Filtering</span></h3>
<p class="c7"><span class="c3">Each of the above csv files have added columns to allow filtering by author or funder type without joining other tables. The following boolean (True/False) columns "flatten" attributes from related people (authors) or organizations (funders) into a simple flag on the publication.</span></p>
<ul class="c5 lst-kix_jdte366kve6h-0 start"><li class="c11 c20 li-bullet-0"><span class="c3">Academic Council Authored (Boolean):</span></li></ul>
<ul class="c5 lst-kix_jdte366kve6h-1 start">
<li class="c7 c8 li-bullet-0"><span class="c3">True: If any known author on the publication is a member of the Academic Council.</span></li>
<li class="c7 c8 li-bullet-0"><span class="c3">False: If no known authors are members of the Academic Council.</span></li>
</ul>
<ul class="c5 lst-kix_jdte366kve6h-0"><li class="c10 li-bullet-0"><span class="c3">Federally Funded (Boolean):</span></li></ul>
<ul class="c5 lst-kix_jdte366kve6h-1 start">
<li class="c7 c8 li-bullet-0"><span class="c3">True: If any known funder for the publication is a federal funding agency.</span></li>
<li class="c7 c8 li-bullet-0"><span class="c3">False: If no known funders are federal agencies.</span></li>
</ul>
<ul class="c5 lst-kix_jdte366kve6h-0"><li class="c10 li-bullet-0"><span class="c3">Faculty Authored (Boolean):</span></li></ul>
<ul class="c5 lst-kix_jdte366kve6h-1 start">
<li class="c7 c8 li-bullet-0"><span class="c3">True: If any known author on the publication is a Stanford faculty member.</span></li>
<li class="c7 c8 li-bullet-0"><span class="c3">False: If no known authors are Stanford faculty members.</span></li>
</ul>
</div>
</div>
<div class='last-updated mb-4 fst-italic'>
                        Last updated: January 21, 2026
                      </div>
