<div id="contents">
<style type="text/css">.doc-content {
@import url(https://themes.googleusercontent.com/fonts/css?kit=5vSxKGgtD1Pm7088AqcDZWUt20uPbwrUgW4A2t_JOSyiXA7pAjWVG99DQTeU85cQ);
.lst-kix_nbvn03sura5m-7>li:before{
content:"\0025cb   "
}.lst-kix_nbvn03sura5m-5>li:before{
content:"\0025a0   "
}.lst-kix_nbvn03sura5m-6>li:before{
content:"\0025cf   "
}.lst-kix_nbvn03sura5m-4>li:before{
content:"\0025cb   "
}.lst-kix_nbvn03sura5m-8>li:before{
content:"\0025a0   "
}ul.lst-kix_qql23f905ij5-8{
list-style-type:none
}ul.lst-kix_qql23f905ij5-6{
list-style-type:none
}ul.lst-kix_qql23f905ij5-7{
list-style-type:none
}ul.lst-kix_qql23f905ij5-4{
list-style-type:none
}ul.lst-kix_qql23f905ij5-5{
list-style-type:none
}ul.lst-kix_qql23f905ij5-2{
list-style-type:none
}.lst-kix_ehiwgebllrah-8>li:before{
content:"\0025a0   "
}ul.lst-kix_qql23f905ij5-3{
list-style-type:none
}.lst-kix_ehiwgebllrah-5>li:before{
content:"\0025a0   "
}.lst-kix_ehiwgebllrah-7>li:before{
content:"\0025cb   "
}.lst-kix_ehiwgebllrah-6>li:before{
content:"\0025cf   "
}.lst-kix_ehiwgebllrah-1>li:before{
content:"\0025cb   "
}.lst-kix_ehiwgebllrah-3>li:before{
content:"\0025cf   "
}.lst-kix_ehiwgebllrah-0>li:before{
content:"\0025cf   "
}.lst-kix_ehiwgebllrah-4>li:before{
content:"\0025cb   "
}ul.lst-kix_qql23f905ij5-0{
list-style-type:none
}ul.lst-kix_qql23f905ij5-1{
list-style-type:none
}.lst-kix_ehiwgebllrah-2>li:before{
content:"\0025a0   "
}ul.lst-kix_ehiwgebllrah-2{
list-style-type:none
}.lst-kix_qql23f905ij5-3>li:before{
content:"\0025cf   "
}.lst-kix_dxynmgm293ju-0>li:before{
content:"\0025cf   "
}ul.lst-kix_ehiwgebllrah-1{
list-style-type:none
}ul.lst-kix_ehiwgebllrah-0{
list-style-type:none
}.lst-kix_qql23f905ij5-0>li:before{
content:"\0025cf   "
}.lst-kix_qql23f905ij5-4>li:before{
content:"\0025cb   "
}.lst-kix_qql23f905ij5-7>li:before{
content:"\0025cb   "
}.lst-kix_lno8mkloo3pu-1>li:before{
content:"\0025cb   "
}ul.lst-kix_ehiwgebllrah-8{
list-style-type:none
}ul.lst-kix_ehiwgebllrah-7{
list-style-type:none
}ul.lst-kix_ehiwgebllrah-6{
list-style-type:none
}.lst-kix_qql23f905ij5-5>li:before{
content:"\0025a0   "
}ul.lst-kix_ehiwgebllrah-5{
list-style-type:none
}ul.lst-kix_ehiwgebllrah-4{
list-style-type:none
}.lst-kix_qql23f905ij5-6>li:before{
content:"\0025cf   "
}.lst-kix_lno8mkloo3pu-0>li:before{
content:"\0025cf   "
}ul.lst-kix_ehiwgebllrah-3{
list-style-type:none
}ul.lst-kix_m2xwarrkr924-6{
list-style-type:none
}.lst-kix_lno8mkloo3pu-5>li:before{
content:"\0025a0   "
}ul.lst-kix_m2xwarrkr924-7{
list-style-type:none
}ul.lst-kix_m2xwarrkr924-8{
list-style-type:none
}ul.lst-kix_m2xwarrkr924-2{
list-style-type:none
}ul.lst-kix_m2xwarrkr924-3{
list-style-type:none
}.lst-kix_qql23f905ij5-8>li:before{
content:"\0025a0   "
}ul.lst-kix_m2xwarrkr924-4{
list-style-type:none
}.lst-kix_lno8mkloo3pu-2>li:before{
content:"\0025a0   "
}.lst-kix_lno8mkloo3pu-6>li:before{
content:"\0025cf   "
}ul.lst-kix_m2xwarrkr924-5{
list-style-type:none
}ul.lst-kix_m2xwarrkr924-0{
list-style-type:none
}ul.lst-kix_m2xwarrkr924-1{
list-style-type:none
}.lst-kix_lno8mkloo3pu-3>li:before{
content:"\0025cf   "
}.lst-kix_lno8mkloo3pu-4>li:before{
content:"\0025cb   "
}ul.lst-kix_nbvn03sura5m-6{
list-style-type:none
}ul.lst-kix_nbvn03sura5m-5{
list-style-type:none
}ul.lst-kix_nbvn03sura5m-8{
list-style-type:none
}.lst-kix_564t5fwoa5v7-4>li:before{
content:"\0025cb   "
}.lst-kix_564t5fwoa5v7-6>li:before{
content:"\0025cf   "
}ul.lst-kix_nbvn03sura5m-7{
list-style-type:none
}ul.lst-kix_nbvn03sura5m-2{
list-style-type:none
}ul.lst-kix_nbvn03sura5m-1{
list-style-type:none
}ul.lst-kix_nbvn03sura5m-4{
list-style-type:none
}.lst-kix_564t5fwoa5v7-5>li:before{
content:"\0025a0   "
}ul.lst-kix_nbvn03sura5m-3{
list-style-type:none
}ul.lst-kix_nbvn03sura5m-0{
list-style-type:none
}.lst-kix_564t5fwoa5v7-0>li:before{
content:"\0025cf   "
}.lst-kix_564t5fwoa5v7-8>li:before{
content:"\0025a0   "
}.lst-kix_564t5fwoa5v7-7>li:before{
content:"\0025cb   "
}.lst-kix_nbvn03sura5m-1>li:before{
content:"\0025cb   "
}.lst-kix_nbvn03sura5m-2>li:before{
content:"\0025a0   "
}.lst-kix_nbvn03sura5m-3>li:before{
content:"\0025cf   "
}.lst-kix_564t5fwoa5v7-1>li:before{
content:"\0025cb   "
}.lst-kix_564t5fwoa5v7-2>li:before{
content:"\0025a0   "
}.lst-kix_qql23f905ij5-1>li:before{
content:"\0025cb   "
}.lst-kix_nbvn03sura5m-0>li:before{
content:"\0025cf   "
}.lst-kix_qql23f905ij5-2>li:before{
content:"\0025a0   "
}.lst-kix_564t5fwoa5v7-3>li:before{
content:"\0025cf   "
}ul.lst-kix_dxynmgm293ju-8{
list-style-type:none
}.lst-kix_9g1b5kh6auta-4>li:before{
content:"\0025cb   "
}.lst-kix_9g1b5kh6auta-3>li:before{
content:"\0025cf   "
}.lst-kix_9g1b5kh6auta-5>li:before{
content:"\0025a0   "
}ul.lst-kix_dxynmgm293ju-4{
list-style-type:none
}.lst-kix_9g1b5kh6auta-2>li:before{
content:"\0025a0   "
}.lst-kix_9g1b5kh6auta-6>li:before{
content:"\0025cf   "
}ul.lst-kix_dxynmgm293ju-5{
list-style-type:none
}ul.lst-kix_dxynmgm293ju-6{
list-style-type:none
}ul.lst-kix_dxynmgm293ju-7{
list-style-type:none
}.lst-kix_xushvsv0aqi9-0>li:before{
content:"\0025cf   "
}ul.lst-kix_lno8mkloo3pu-7{
list-style-type:none
}ul.lst-kix_lno8mkloo3pu-6{
list-style-type:none
}ul.lst-kix_lno8mkloo3pu-5{
list-style-type:none
}ul.lst-kix_lno8mkloo3pu-4{
list-style-type:none
}.lst-kix_xushvsv0aqi9-7>li:before{
content:"\0025cb   "
}.lst-kix_xushvsv0aqi9-8>li:before{
content:"\0025a0   "
}ul.lst-kix_lno8mkloo3pu-8{
list-style-type:none
}ul.lst-kix_dxynmgm293ju-0{
list-style-type:none
}ul.lst-kix_dxynmgm293ju-1{
list-style-type:none
}ul.lst-kix_dxynmgm293ju-2{
list-style-type:none
}.lst-kix_9g1b5kh6auta-1>li:before{
content:"\0025cb   "
}ul.lst-kix_dxynmgm293ju-3{
list-style-type:none
}ul.lst-kix_lno8mkloo3pu-3{
list-style-type:none
}ul.lst-kix_lno8mkloo3pu-2{
list-style-type:none
}ul.lst-kix_lno8mkloo3pu-1{
list-style-type:none
}.lst-kix_9g1b5kh6auta-0>li:before{
content:"\0025cf   "
}ul.lst-kix_lno8mkloo3pu-0{
list-style-type:none
}.lst-kix_lno8mkloo3pu-7>li:before{
content:"\0025cb   "
}.lst-kix_xushvsv0aqi9-6>li:before{
content:"\0025cf   "
}.lst-kix_lno8mkloo3pu-8>li:before{
content:"\0025a0   "
}.lst-kix_xushvsv0aqi9-5>li:before{
content:"\0025a0   "
}.lst-kix_xushvsv0aqi9-3>li:before{
content:"\0025cf   "
}.lst-kix_xushvsv0aqi9-4>li:before{
content:"\0025cb   "
}.lst-kix_9g1b5kh6auta-8>li:before{
content:"\0025a0   "
}.lst-kix_9g1b5kh6auta-7>li:before{
content:"\0025cb   "
}.lst-kix_xushvsv0aqi9-1>li:before{
content:"\0025cb   "
}.lst-kix_dxynmgm293ju-2>li:before{
content:"\0025a0   "
}.lst-kix_dxynmgm293ju-1>li:before{
content:"\0025cb   "
}.lst-kix_xushvsv0aqi9-2>li:before{
content:"\0025a0   "
}ul.lst-kix_564t5fwoa5v7-6{
list-style-type:none
}ul.lst-kix_xushvsv0aqi9-3{
list-style-type:none
}ul.lst-kix_564t5fwoa5v7-7{
list-style-type:none
}ul.lst-kix_xushvsv0aqi9-2{
list-style-type:none
}ul.lst-kix_564t5fwoa5v7-8{
list-style-type:none
}ul.lst-kix_xushvsv0aqi9-1{
list-style-type:none
}.lst-kix_g3ifc0aamsix-3>li:before{
content:"\0025cf   "
}.lst-kix_g3ifc0aamsix-5>li:before{
content:"\0025a0   "
}ul.lst-kix_xushvsv0aqi9-0{
list-style-type:none
}ul.lst-kix_564t5fwoa5v7-2{
list-style-type:none
}ul.lst-kix_xushvsv0aqi9-7{
list-style-type:none
}ul.lst-kix_564t5fwoa5v7-3{
list-style-type:none
}ul.lst-kix_xushvsv0aqi9-6{
list-style-type:none
}.lst-kix_dxynmgm293ju-3>li:before{
content:"\0025cf   "
}ul.lst-kix_564t5fwoa5v7-4{
list-style-type:none
}ul.lst-kix_xushvsv0aqi9-5{
list-style-type:none
}.lst-kix_g3ifc0aamsix-2>li:before{
content:"\0025a0   "
}.lst-kix_g3ifc0aamsix-6>li:before{
content:"\0025cf   "
}ul.lst-kix_564t5fwoa5v7-5{
list-style-type:none
}ul.lst-kix_xushvsv0aqi9-4{
list-style-type:none
}.lst-kix_dxynmgm293ju-4>li:before{
content:"\0025cb   "
}.lst-kix_g3ifc0aamsix-1>li:before{
content:"\0025cb   "
}.lst-kix_g3ifc0aamsix-7>li:before{
content:"\0025cb   "
}.lst-kix_dxynmgm293ju-6>li:before{
content:"\0025cf   "
}.lst-kix_dxynmgm293ju-5>li:before{
content:"\0025a0   "
}.lst-kix_g3ifc0aamsix-0>li:before{
content:"\0025cf   "
}.lst-kix_g3ifc0aamsix-8>li:before{
content:"\0025a0   "
}.lst-kix_dxynmgm293ju-8>li:before{
content:"\0025a0   "
}.lst-kix_dxynmgm293ju-7>li:before{
content:"\0025cb   "
}ul.lst-kix_xushvsv0aqi9-8{
list-style-type:none
}.lst-kix_m2xwarrkr924-0>li:before{
content:"\0025cf   "
}.lst-kix_m2xwarrkr924-1>li:before{
content:"\0025cb   "
}.lst-kix_m2xwarrkr924-2>li:before{
content:"\0025a0   "
}ul.lst-kix_9g1b5kh6auta-6{
list-style-type:none
}ul.lst-kix_9g1b5kh6auta-5{
list-style-type:none
}ul.lst-kix_9g1b5kh6auta-8{
list-style-type:none
}ul.lst-kix_9g1b5kh6auta-7{
list-style-type:none
}ul.lst-kix_g3ifc0aamsix-1{
list-style-type:none
}ul.lst-kix_9g1b5kh6auta-2{
list-style-type:none
}ul.lst-kix_g3ifc0aamsix-0{
list-style-type:none
}ul.lst-kix_9g1b5kh6auta-1{
list-style-type:none
}ul.lst-kix_9g1b5kh6auta-4{
list-style-type:none
}ul.lst-kix_9g1b5kh6auta-3{
list-style-type:none
}ul.lst-kix_g3ifc0aamsix-5{
list-style-type:none
}ul.lst-kix_g3ifc0aamsix-4{
list-style-type:none
}li.li-bullet-0:before{
margin-left:-18pt;white-space:nowrap;display:inline-block;min-width:18pt
}ul.lst-kix_g3ifc0aamsix-3{
list-style-type:none
}ul.lst-kix_9g1b5kh6auta-0{
list-style-type:none
}ul.lst-kix_g3ifc0aamsix-2{
list-style-type:none
}.lst-kix_m2xwarrkr924-8>li:before{
content:"\0025a0   "
}ul.lst-kix_g3ifc0aamsix-8{
list-style-type:none
}ul.lst-kix_g3ifc0aamsix-7{
list-style-type:none
}.lst-kix_m2xwarrkr924-7>li:before{
content:"\0025cb   "
}ul.lst-kix_g3ifc0aamsix-6{
list-style-type:none
}.lst-kix_m2xwarrkr924-6>li:before{
content:"\0025cf   "
}.lst-kix_m2xwarrkr924-4>li:before{
content:"\0025cb   "
}ul.lst-kix_564t5fwoa5v7-0{
list-style-type:none
}.lst-kix_m2xwarrkr924-3>li:before{
content:"\0025cf   "
}.lst-kix_m2xwarrkr924-5>li:before{
content:"\0025a0   "
}ul.lst-kix_564t5fwoa5v7-1{
list-style-type:none
}.lst-kix_g3ifc0aamsix-4>li:before{
content:"\0025cb   "
}ol{
margin:0;padding:0
}table td,table th{
padding:0
}.c22{
border-right-style:solid;padding:5pt 5pt 5pt 5pt;border-bottom-color:#bf9000;border-top-width:1pt;border-right-width:1pt;border-left-color:#bf9000;vertical-align:top;border-right-color:#bf9000;border-left-width:1pt;border-top-style:solid;background-color:#fff2cc;border-left-style:solid;border-bottom-width:1pt;width:468pt;border-top-color:#bf9000;border-bottom-style:solid
}.c7{
margin-left:72pt;padding-top:0pt;padding-left:0pt;padding-bottom:10pt;line-height:1.15;orphans:2;widows:2;text-align:left
}.c4{
margin-left:36pt;padding-top:0pt;padding-left:0pt;padding-bottom:10pt;line-height:1.15;orphans:2;widows:2;text-align:left
}.c16{
padding-top:20pt;padding-bottom:6pt;line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}.c9{
padding-top:18pt;padding-bottom:6pt;line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}.c3{
padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left
}.c20{
padding-top:10pt;padding-bottom:10pt;line-height:1.15;orphans:2;widows:2;text-align:left
}.c2{
color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-family:"Source Sans 3";font-style:normal
}.c8{
padding-top:0pt;padding-bottom:10pt;line-height:1.15;orphans:2;widows:2;text-align:left
}.c21{
color:#000000;text-decoration:none;vertical-align:baseline;font-family:"Source Sans 3";font-style:normal
}.c15{
font-weight:400;vertical-align:baseline;font-family:"Arial";font-style:normal
}.c17{
padding-top:3pt;padding-bottom:0pt;line-height:1.15;text-align:left
}.c23{
padding-top:0pt;padding-bottom:0pt;line-height:1.0;text-align:left
}.c25{
border-spacing:0;border-collapse:collapse;margin-right:auto
}.c6{
text-decoration-skip-ink:none;-webkit-text-decoration-skip:none;color:#1155cc;text-decoration:underline
}.c11{
font-weight:400;vertical-align:baseline;font-family:"Source Sans 3";font-style:normal
}.c26{
background-color:#ffffff;max-width:468pt;padding:72pt 72pt 72pt 72pt
}.c0{
color:inherit;text-decoration:inherit
}.c18{
margin-left:36pt;padding-left:0pt
}.c14{
padding:0;margin:0
}.c12{
font-weight:700
}.c27{
color:#1155cc
}.c1{
font-size:11pt
}.c19{
font-size:20pt
}.c5{
height:11pt
}.c10{
font-size:26pt
}.c13{
font-style:italic
}.c24{
height:0pt
}.title{
padding-top:0pt;color:#000000;font-size:26pt;padding-bottom:3pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}.subtitle{
padding-top:0pt;color:#666666;font-size:15pt;padding-bottom:16pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}li{
color:#000000;font-size:11pt;font-family:"Source Sans 3"
}p{
margin:0;color:#000000;font-size:11pt;font-family:"Source Sans 3"
}h1{
padding-top:20pt;color:#000000;font-size:26pt;padding-bottom:6pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}h2{
padding-top:18pt;color:#000000;font-size:20pt;padding-bottom:6pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}h3{
padding-top:16pt;color:#434343;font-size:14pt;padding-bottom:4pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}h4{
padding-top:14pt;color:#666666;font-size:12pt;padding-bottom:4pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}h5{
padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}h6{
padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;font-style:italic;orphans:2;widows:2;text-align:left
}
}</style>
<div class="c26 doc-content">
<h1 class="c16" id="h.dx1oh316li45"><span class="c2 c10">Documentation: Open Access Dashboard</span></h1>
<p class="c3"><span class="c21 c12 c1">Table of Contents</span></p>
<p class="c17"><span class="c6 c11 c1"><a class="c0" href="#h.4vn01q4aitxv">About</a></span></p>
<p class="c17"><span class="c6 c1 c11"><a class="c0" href="#h.v8p1jaxtp597">Dashboard Tabs</a></span></p>
<p class="c17"><span class="c6 c11 c1"><a class="c0" href="#h.dohn1036dwp7">Data Sources</a></span></p>
<p class="c17"><span class="c6 c11 c1"><a class="c0" href="#h.n909nf386igl">Data Definitions</a></span></p>
<p class="c17"><span class="c6 c11 c1"><a class="c0" href="#h.e2kxv7kc92qn">Data Download</a></span></p>
<h2 class="c9" id="h.4vn01q4aitxv"><span>About</span></h2>
<p class="c3"><span class="c2 c1">The RIALTO Open Access dashboard reports on open access (OA) publishing across Stanford, and by School and Department. It enables the university to monitor compliance with OA policies, plan and budget for OA support services, recognize Stanford’s OA achievements, and advocate for more OA publishing.</span></p>
<p class="c3 c5"><span class="c2 c1"></span></p>
<p class="c3"><span class="c1">OA </span><span>publishing</span><span class="c1"> is important because of internal university priorities as well as external priorities. The </span><span class="c6 c1"><a class="c0" href="https://www.google.com/url?q=https://bidenwhitehouse.archives.gov/wp-content/uploads/2022/08/08-2022-OSTP-Public-Access-Memo.pdf&amp;sa=D&amp;source=editors&amp;ust=1769036495415119&amp;usg=AOvVaw2nHP4tlB1WmxuWi_9fzG5p">OSTP Nelson Memo</a></span><span class="c2 c1"> mandates free, immediate, and equitable access to all federally funded research by the end of 2025.</span></p>
<p class="c3 c5"><span class="c2 c1"></span></p>
<p class="c3"><span class="c1">Please submit feedback by emailing: </span><span class="c6 c12 c1"><a class="c0" href="mailto:rialto-service@lists.stanford.edu">rialto-service@lists.stanford.edu</a></span><span class="c2 c1">.</span></p>
<h2 class="c9" id="h.v8p1jaxtp597"><span class="c2 c19">Dashboard Tabs</span></h2>
<p class="c3"><span class="c2 c1">The Open Access dashboard features four dashboard tabs:</span></p>
<ul class="c14 lst-kix_xushvsv0aqi9-0 start">
<li class="c20 c18 li-bullet-0">
<span class="c12 c1">Stanford Overview</span><span class="c2 c1">: Counts of Stanford publications from 2018 forward, by open access category. Includes an estimated total of Article Processing Charges paid for publications. Publications can be filtered by open access category, academic council authored, faculty authored, publication type, and year.</span>
</li>
<li class="c20 c18 li-bullet-0">
<span class="c12 c1">School Overview:</span><span class="c2 c1"> Counts of open access and closed access Stanford publications from 2018 forward, by school. Includes an estimated total of Article Processing Charges by school.</span>
</li>
<li class="c18 c20 li-bullet-0">
<span class="c12 c1">School Details: </span><span class="c2 c1">Counts of open access and closed access Stanford publications from 2018 forward, by school and open access category. Publications can be filtered by open access category, federally funded, publication type, year, and article processing charge.</span>
</li>
<li class="c20 c18 li-bullet-0">
<span class="c12 c1">Department Details:</span><span class="c2 c1"> Percent of publications within each open access category, by department. Publications can be filtered by school, department, open access category, federally funded, publication type, and year.</span>
</li>
</ul>
<h2 class="c9" id="h.dohn1036dwp7"><span class="c2 c19">Data Sources</span></h2>
<p class="c3"><span class="c1">In order to create a highly precise dataset of publications by Stanford-affiliated researchers, we collect publications associated with an ORCID iD of a Stanford author, where that author has</span><span class="c6 c1"><a class="c0" href="https://www.google.com/url?q=https://library.stanford.edu/orcid-id&amp;sa=D&amp;source=editors&amp;ust=1769036495418094&amp;usg=AOvVaw3iizZ1PTFPvHrqwxo-EevH"> linked their ORCID iD with their SUNet ID</a></span><span class="c1">.  We supplement this dataset with publications approved by a Stanford researcher via their </span><span class="c6 c1"><a class="c0" href="https://www.google.com/url?q=https://profiles.stanford.edu/&amp;sa=D&amp;source=editors&amp;ust=1769036495418326&amp;usg=AOvVaw1l8B9YnkKFC04VE-t6tceR">Stanford Profile</a></span><span class="c2 c1">.</span></p>
<p class="c3 c5"><span class="c2 c1"></span></p>
<table class="c25"><tr class="c24"><td class="c22" colspan="1" rowspan="1"><p class="c23"><span class="c1">Want to be sure your publications are in our datasets?</span><span class="c1 c27"><a class="c0" href="https://www.google.com/url?q=https://authorize.stanford.edu/orcid/OrcidInit?&amp;sa=D&amp;source=editors&amp;ust=1769036495418768&amp;usg=AOvVaw3cS5CF514PZbJ02dXEGu-x"> </a></span><span class="c6 c1"><a class="c0" href="https://www.google.com/url?q=https://authorize.stanford.edu/orcid/OrcidInit?&amp;sa=D&amp;source=editors&amp;ust=1769036495418857&amp;usg=AOvVaw3PK-xdWrenbghALUBmuAWo">Link your ORCID</a></span><span class="c6"><a class="c0" href="https://www.google.com/url?q=https://authorize.stanford.edu/orcid/OrcidInit?&amp;sa=D&amp;source=editors&amp;ust=1769036495418931&amp;usg=AOvVaw2IufBqzcNOPja28Xxt6_7C"> iD</a></span><span class="c6 c1"><a class="c0" href="https://www.google.com/url?q=https://authorize.stanford.edu/orcid/OrcidInit?&amp;sa=D&amp;source=editors&amp;ust=1769036495419019&amp;usg=AOvVaw0ico9t4mirpYc0bY_mMCZp"> to your SUNet ID</a></span><span class="c2 c1">.</span></p></td></tr></table>
<p class="c3 c5"><span class="c2 c1"></span></p>
<p class="c3"><span class="c2 c1">We query multiple publication sources by these ORCIDs and merge publication metadata by DOI or other unique metadata. Sources we query include:</span></p>
<ul class="c14 lst-kix_lno8mkloo3pu-0 start">
<li class="c3 c18 li-bullet-0"><span class="c6 c1"><a class="c0" href="https://www.google.com/url?q=https://docs.openalex.org/&amp;sa=D&amp;source=editors&amp;ust=1769036495419433&amp;usg=AOvVaw0dYMwLrT9YBGv29yFRvE9s">OpenAlex</a></span></li>
<li class="c3 c18 li-bullet-0"><span class="c6 c1"><a class="c0" href="https://www.google.com/url?q=https://www.dimensions.ai/resources/api-documentation&amp;sa=D&amp;source=editors&amp;ust=1769036495419590&amp;usg=AOvVaw1b9VjMG6Ndw6hiinN8zZwM">Dimensions</a></span></li>
<li class="c3 c18 li-bullet-0"><span class="c6 c1"><a class="c0" href="https://www.google.com/url?q=https://developer.clarivate.com/apis/wos&amp;sa=D&amp;source=editors&amp;ust=1769036495419738&amp;usg=AOvVaw12_w-jhGz0QjYNyr5-nPQV">Web of Science</a></span></li>
<li class="c3 c18 li-bullet-0"><span class="c6 c1"><a class="c0" href="https://www.google.com/url?q=https://www.ncbi.nlm.nih.gov/books/NBK25501/&amp;sa=D&amp;source=editors&amp;ust=1769036495419853&amp;usg=AOvVaw1bx7RtdVofs7vTm4ujU57H">PubMed</a></span></li>
<li class="c3 c18 li-bullet-0"><span class="c6"><a class="c0" href="https://www.google.com/url?q=https://www.crossref.org/documentation/retrieve-metadata/rest-api/&amp;sa=D&amp;source=editors&amp;ust=1769036495419990&amp;usg=AOvVaw2iToCKA_fRxy1700_hQO83">Crossref</a></span></li>
<li class="c3 c18 li-bullet-0"><span class="c2 c1">Sul-Pub, the Libraries' bibliographic management system that feeds Profiles with publications from Web of Science and PubMed and also collects manually-entered publications from Stanford researchers. </span></li>
</ul>
<p class="c3 c5"><span class="c2 c1"></span></p>
<p class="c3"><span class="c2 c1">Where we have a DOI for a publication, we query for metadata from all sources, to create an aggregate record. We then enrich publications data with:</span></p>
<ul class="c14 lst-kix_qql23f905ij5-0 start">
<li class="c3 c18 li-bullet-0"><span class="c2 c1">Federal funder data</span></li>
<li class="c3 c18 li-bullet-0"><span class="c2 c1">Article Processing Charge (APC) data</span></li>
<li class="c3 c18 li-bullet-0"><span class="c2 c1">Open Access category</span></li>
</ul>
<p class="c3 c5"><span class="c2 c1"></span></p>
<p class="c3"><span class="c2 c1">We also harvest data from Stanford systems about authors' roles (e.g. faculty, staff, postdoc), school, and department, to allow filtering publications by these categories. We currently query metadata sources by ORCID for all authors, even if they are no longer affiliated with Stanford. This means we will have publications from before or after their affiliation with Stanford. Our dashboards restrict publications to 2018 forward.</span></p>
<p class="c3 c5"><span class="c2 c1"></span></p>
<p class="c3"><span class="c2 c1">We are always working to refine our data collection pipeline. Please let us know if you notice differences between the RIALTO data and your own records.</span></p>
<h2 class="c9" id="h.n909nf386igl"><span class="c2 c19">Data Definitions</span></h2>
<ul class="c14 lst-kix_564t5fwoa5v7-0 start">
<li class="c4 li-bullet-0">
<span class="c12 c1">Publications</span><span class="c1">: Publications are harvested from many different sources (see </span><span class="c6 c1"><a class="c0" href="#h.dohn1036dwp7">Data Sources</a></span><span class="c1"> above) and merged on DOI. In the case of publications without a DOI, we make an effort to deduplicate these based on a combination of other identifiers and metadata fields. This deduplication strategy is evolving but it is not perfect; some publications without DOIs will likely be duplicated.</span>
</li>
<li class="c4 li-bullet-0">
<span class="c12 c1">Open Access Publications</span><span class="c1">: OA Publications are scholarly research articles made available to the public without user subscription or access fees. Categories of Open Access include </span><span class="c1 c13">Diamond</span><span class="c1">, </span><span class="c1 c13">Gold</span><span class="c1">, </span><span class="c1 c13">Hybrid</span><span class="c1">, </span><span class="c1 c13">Green</span><span class="c1">, and </span><span class="c1 c13">Bronze</span><span class="c1"> (see </span><span class="c12 c1">Open Access Category</span><span class="c1"> below). We harvest the category from </span><span class="c1 c6"><a class="c0" href="https://www.google.com/url?q=https://docs.openalex.org/api-entities/works/work-object%23oa_status&amp;sa=D&amp;source=editors&amp;ust=1769036495422378&amp;usg=AOvVaw3Fr9cP1zVaaiBJBGTvA1nZ">OpenAlex</a></span><span class="c1"> or </span><span class="c6 c1"><a class="c0" href="https://www.google.com/url?q=https://dimensions.freshdesk.com/support/solutions/articles/23000018863-where-does-the-definition-of-open-access-come-from-in-dimensions-what-does-it-include-&amp;sa=D&amp;source=editors&amp;ust=1769036495422563&amp;usg=AOvVaw06JyVdsgW9BX9uL9kfWBAX">Dimensions</a></span><span class="c2 c1">.</span>
</li>
<li class="c4 li-bullet-0">
<span class="c1 c12">Closed Access Publications</span><span class="c2 c1">: Closed Access Publications are scholarly research articles that require readers or libraries to pay a subscription or access fee to read.</span>
</li>
<li class="c4 li-bullet-0">
<span class="c12 c1">APC (Article Processing Charge)</span><span class="c1">: An Article Processing Charge is a fee publishers charge researchers to make their publication openly accessible to readers. Estimating APCs is complex but we believe our approach is conservative. It should also be noted that it's possible that co-authors not affiliated with Stanford paid the APC for any given publication. This is an </span><span class="c12 c1 c13">estimate of all APCs paid for</span><span class="c1"> </span><span class="c12 c1 c13">Stanford publications</span><span class="c1">, not an </span><span class="c12 c1 c13">estimate of all APCs paid by Stanford researchers</span><span class="c2 c1">. We prioritize data sources based on data quality. We use the below sources in priority order:</span>
</li>
</ul>
<ul class="c14 lst-kix_564t5fwoa5v7-1 start">
<li class="c7 li-bullet-0">
<span class="c1">API "paid" price data from </span><span class="c6 c1"><a class="c0" href="https://www.google.com/url?q=https://docs.openalex.org/api-entities/works/work-object%23apc_paid&amp;sa=D&amp;source=editors&amp;ust=1769036495423628&amp;usg=AOvVaw31Cpkbu3lTm7-Ngb3Ut_bf">OpenAlex</a></span><span class="c1">. This data typically comes from </span><span class="c6 c1"><a class="c0" href="https://www.google.com/url?q=https://github.com/OpenAPC/openapc-de&amp;sa=D&amp;source=editors&amp;ust=1769036495423741&amp;usg=AOvVaw0XDlFoWdUrbnzg73PjXoPk">OpenAPC</a></span><span class="c2 c1">, a crowdsourced APC dataset where individual researchers and institutions can add APC data.</span>
</li>
<li class="c7 li-bullet-0">
<span class="c6 c1"><a class="c0" href="https://www.google.com/url?q=https://dataverse.harvard.edu/dataset.xhtml?persistentId%3Ddoi:10.7910/DVN/CR1MMV&amp;sa=D&amp;source=editors&amp;ust=1769036495423984&amp;usg=AOvVaw0nCcc_anNbkoeJjPDdblqQ">Open dataset of APCs</a></span><span class="c2 c1">: a dataset prepared by the ScholCom Lab at Simon Fraser University. The dataset includes manually verified list prices for many of the top publishers by year. It is important to note that the research does not always pay the list price. In some cases, list prices can be negotiated.</span>
</li>
<li class="c7 li-bullet-0">
<span class="c1">APC list prices from </span><span class="c6 c1"><a class="c0" href="https://www.google.com/url?q=https://docs.openalex.org/api-entities/works/work-object%23apc_list&amp;sa=D&amp;source=editors&amp;ust=1769036495424411&amp;usg=AOvVaw1JZEzYhosMwro_K00QOPGX">OpenAlex</a></span><span class="c2 c1">.</span>
</li>
<li class="c7 li-bullet-0"><span class="c2 c1">For any remaining publication, we estimate the APC based on the Open Access category: "Gold"=$2,450; "Hybrid"=$3,600; all other categories = $0.</span></li>
</ul>
<ul class="c14 lst-kix_564t5fwoa5v7-0"><li class="c4 li-bullet-0">
<span class="c12 c1">Open Access Category</span><span class="c1">: The color names denoting different </span><span class="c6 c1"><a class="c0" href="https://www.google.com/url?q=https://en.wikipedia.org/wiki/Open_access&amp;sa=D&amp;source=editors&amp;ust=1769036495424797&amp;usg=AOvVaw1Y997Xdjatb6MDV7zb62Gv">Open Access categories</a></span><span class="c2 c1">:</span>
</li></ul>
<ul class="c14 lst-kix_564t5fwoa5v7-1 start">
<li class="c7 li-bullet-0">
<span class="c1 c13">Diamond</span><span class="c2 c1">: Articles are free to read on the publisher’s site with no APCs, as the journal is funded by institutions, societies, or other sponsors.</span>
</li>
<li class="c7 li-bullet-0">
<span class="c1 c13">Gold</span><span class="c2 c1">: The final published article is freely available on the publisher’s website immediately, usually under a Creative Commons licence. Authors or funders often pay an APC to support publication.</span>
</li>
<li class="c7 li-bullet-0">
<span class="c1 c13">Hybrid</span><span class="c2 c1">: Subscription journals allow individual articles to be made open access if an APC is paid. This model mixes paywalled and open content.</span>
</li>
<li class="c7 li-bullet-0">
<span class="c1 c13">Green</span><span class="c2 c1">: Authors self-archive a version of their manuscript in a repository, which may be released after an embargo. The deposited version is often the accepted manuscript rather than the formatted final version.</span>
</li>
<li class="c7 li-bullet-0">
<span class="c1 c13">Bronze</span><span class="c2 c1">: Articles are free to read on the publisher’s site but lack a clear open licence, meaning reuse rights are uncertain. Availability may be temporary or withdrawn later.</span>
</li>
<li class="c7 li-bullet-0">
<span class="c1 c13">Closed</span><span class="c2 c1">: Publications are available only to paying readers, typically through subscriptions, paywalls, or institutional access.</span>
</li>
<li class="c7 li-bullet-0">
<span class="c1 c13">Not Available</span><span class="c2 c1">: Open Access category data is not available or is unknown for these publications.</span>
</li>
</ul>
<ul class="c14 lst-kix_564t5fwoa5v7-0">
<li class="c4 li-bullet-0">
<span class="c12 c1">Department</span><span class="c2 c1">: The primary Stanford department a researcher is affiliated with. In some cases, a researcher may have multiple affiliations. This dashboard only tracks their primary affiliation. </span>
</li>
<li class="c4 li-bullet-0">
<span class="c12 c1">School</span><span class="c2 c1">: The primary Stanford school a researcher is affiliated with. In some cases, a researcher may have multiple affiliations. This dashboard only tracks their primary affiliation.</span>
</li>
</ul>
<ul class="c14 lst-kix_m2xwarrkr924-0 start">
<li class="c4 li-bullet-0">
<span class="c12 c1">Academic Council Authored</span><span class="c1">: True if at least one publication author is a member of the </span><span class="c6 c1"><a class="c0" href="https://www.google.com/url?q=https://web.stanford.edu/dept/registrar/bulletin1112/4811.htm&amp;sa=D&amp;source=editors&amp;ust=1769036495427804&amp;usg=AOvVaw0D1SCIS-psFLbZw3AgxLIi">Stanford Academic Council</a></span><span class="c2 c1">. Otherwise False.</span>
</li>
<li class="c4 li-bullet-0">
<span class="c12 c1">Faculty Authored</span><span class="c2 c1">: True if at least one publication author is a member of the Stanford Faculty. Otherwise False.</span>
</li>
<li class="c4 li-bullet-0">
<span class="c12 c1">Type Normalized</span><span class="c1">: The publication type, normalized to one of the following values: </span><span class="c1 c13">Article</span><span class="c1">, </span><span class="c1 c13">Book</span><span class="c1">, </span><span class="c1 c13">Chapter</span><span class="c1">, </span><span class="c1 c13">Correction/Retraction, Dataset, Dissertation,</span><span class="c1"> </span><span class="c1 c13">Editorial Material, Preprint</span><span class="c1">, </span><span class="c1 c13">Other</span><span class="c1 c2">.</span>
</li>
<li class="c4 li-bullet-0">
<span class="c12 c1">Publication Year</span><span class="c2 c1">: Our open access dataset includes publications from 2018 to the current year. Note: Publication data for the current year is necessarily incomplete.</span>
</li>
<li class="c4 li-bullet-0">
<span class="c12 c1">Federally Funded</span><span class="c1">: True if at least one of the publication’s funders is federal. Otherwise False. Funder data for each publication is provided by Dimensions or OpenAlex, and we use the </span><span class="c6 c1"><a class="c0" href="https://www.google.com/url?q=https://zenodo.org/records/7438427&amp;sa=D&amp;source=editors&amp;ust=1769036495428928&amp;usg=AOvVaw3NJYO3yyTYOleLOl84-V0w">OSTP Impact dataset</a></span><span class="c2 c1">, enhanced with ROR identifiers, to identify which funders are federal. </span>
</li>
</ul>
<h2 class="c9" id="h.e2kxv7kc92qn"><span class="c2 c19">Data Download</span></h2>
<p class="c8"><span class="c1">After filtering the data in a dashboard, you can download the resulting data by selecting </span><span class="c12 c1 c13">Choose a format to download</span><span class="c2 c1"> in the dashboard toolbar menu. Format options include Image, Data, Crosstab, and more.</span></p>
<p class="c3"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px);
 -webkit-transform: rotate(0.00rad) translateZ(0px);
 width: 768.00px; height: 57.90px;"><img alt="" src="https://lh7-rt.googleusercontent.com/docsz/AD_4nXd00Y3CwVxmUZSfTWZkdzl0HSic_SNNozUig7p44zo5dju0cGoxzPyAgc4F84YWAiWK7V32dSIBSymBwB2vkUZ4mtGL2mQS7pitl7MPoBpDUQvEx0M5lzg7rYM4UO0gXY8?key=aiKvBFZxgLHp0gTENTYgh0H5" style="width: 768.00px; height: 57.90px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px);
 -webkit-transform: rotate(0.00rad) translateZ(0px);
" title=""></span></p>
<p class="c3"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px);
 -webkit-transform: rotate(0.00rad) translateZ(0px);
 width: 768.00px; height: 144.15px;"><img alt="" src="https://lh7-rt.googleusercontent.com/docsz/AD_4nXcq7pCuQMqpn5UrZomaGvHKJwKxM0dBSjxubegccfw3djjlO9IasP8uALoNAXzfilZBzQenwoAGsLv2h5wE4RsWNDwx7E-7E8J1rc3pdEDYnCyKGoT11bD2VJfGL9lcqKY?key=aiKvBFZxgLHp0gTENTYgh0H5" style="width: 768.00px; height: 144.15px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px);
 -webkit-transform: rotate(0.00rad) translateZ(0px);
" title=""></span></p>
<ul class="c14 lst-kix_nbvn03sura5m-0 start">
<li class="c4 li-bullet-0">
<span class="c1">Note: If the </span><span class="c12 c1 c13">Data</span><span class="c1"> option is not available, first click into the relevant chart or table on the dashboard page before selecting </span><span class="c12 c1 c13">Choose a format to download</span><span class="c2 c1">.</span>
</li>
<li class="c4 li-bullet-0">
<span class="c1">The data will open in a popup window. Select </span><span class="c12 c1 c13">Download</span><span class="c2 c1">.</span>
</li>
</ul>
<p class="c3"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px);
 -webkit-transform: rotate(0.00rad) translateZ(0px);
 width: 768.00px; height: 302.47px;"><img alt="" src="https://lh7-rt.googleusercontent.com/docsz/AD_4nXdCIkH1IAnPXpaM5N9Zrn3C263DJDmEK9Cu-AOxYAXpIt4TJ1i_lKYAGoPp8u3ROX3PJmkpxoGRJR4WAEQPXw8syfElVnC2zWF52up1ZijGR7P9tWmIS1u-IdmF8y4JTw?key=aiKvBFZxgLHp0gTENTYgh0H5" style="width: 768.00px; height: 302.47px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px);
 -webkit-transform: rotate(0.00rad) translateZ(0px);
" title=""></span></p>
<ul class="c14 lst-kix_dxynmgm293ju-0 start"><li class="c4 li-bullet-0"><span class="c1">Additional downloads available in the Downloads section of this site.</span></li></ul>
</div>
</div>
<div class='last-updated mb-4 fst-italic'>
                        Last updated: January 21, 2026
                      </div>
