<div id="contents">
<style type="text/css">@import url(https://themes.googleusercontent.com/fonts/css?kit=5vSxKGgtD1Pm7088AqcDZWUt20uPbwrUgW4A2t_JOSyiXA7pAjWVG99DQTeU85cQ);.lst-kix_9g1b5kh6auta-4>li:before{content:"\0025cb   "}.lst-kix_9g1b5kh6auta-3>li:before{content:"\0025cf   "}.lst-kix_9g1b5kh6auta-5>li:before{content:"\0025a0   "}.lst-kix_9g1b5kh6auta-2>li:before{content:"\0025a0   "}.lst-kix_9g1b5kh6auta-6>li:before{content:"\0025cf   "}.lst-kix_9g1b5kh6auta-1>li:before{content:"\0025cb   "}.lst-kix_9g1b5kh6auta-0>li:before{content:"\0025cf   "}.lst-kix_ehiwgebllrah-8>li:before{content:"\0025a0   "}.lst-kix_ehiwgebllrah-5>li:before{content:"\0025a0   "}.lst-kix_ehiwgebllrah-7>li:before{content:"\0025cb   "}.lst-kix_ehiwgebllrah-6>li:before{content:"\0025cf   "}.lst-kix_ehiwgebllrah-1>li:before{content:"\0025cb   "}.lst-kix_ehiwgebllrah-3>li:before{content:"\0025cf   "}.lst-kix_ehiwgebllrah-0>li:before{content:"\0025cf   "}.lst-kix_ehiwgebllrah-4>li:before{content:"\0025cb   "}.lst-kix_9g1b5kh6auta-8>li:before{content:"\0025a0   "}.lst-kix_9g1b5kh6auta-7>li:before{content:"\0025cb   "}.lst-kix_ehiwgebllrah-2>li:before{content:"\0025a0   "}ul.lst-kix_ehiwgebllrah-2{list-style-type:none}ul.lst-kix_564t5fwoa5v7-6{list-style-type:none}ul.lst-kix_ehiwgebllrah-1{list-style-type:none}ul.lst-kix_564t5fwoa5v7-7{list-style-type:none}ul.lst-kix_ehiwgebllrah-0{list-style-type:none}ul.lst-kix_564t5fwoa5v7-8{list-style-type:none}.lst-kix_g3ifc0aamsix-3>li:before{content:"\0025cf   "}.lst-kix_g3ifc0aamsix-5>li:before{content:"\0025a0   "}ul.lst-kix_564t5fwoa5v7-2{list-style-type:none}ul.lst-kix_564t5fwoa5v7-3{list-style-type:none}ul.lst-kix_564t5fwoa5v7-4{list-style-type:none}.lst-kix_g3ifc0aamsix-2>li:before{content:"\0025a0   "}.lst-kix_g3ifc0aamsix-6>li:before{content:"\0025cf   "}ul.lst-kix_564t5fwoa5v7-5{list-style-type:none}ul.lst-kix_ehiwgebllrah-8{list-style-type:none}ul.lst-kix_ehiwgebllrah-7{list-style-type:none}.lst-kix_g3ifc0aamsix-1>li:before{content:"\0025cb   "}.lst-kix_g3ifc0aamsix-7>li:before{content:"\0025cb   "}ul.lst-kix_ehiwgebllrah-6{list-style-type:none}ul.lst-kix_ehiwgebllrah-5{list-style-type:none}ul.lst-kix_ehiwgebllrah-4{list-style-type:none}ul.lst-kix_ehiwgebllrah-3{list-style-type:none}.lst-kix_g3ifc0aamsix-0>li:before{content:"\0025cf   "}.lst-kix_g3ifc0aamsix-8>li:before{content:"\0025a0   "}ul.lst-kix_m2xwarrkr924-6{list-style-type:none}ul.lst-kix_m2xwarrkr924-7{list-style-type:none}ul.lst-kix_m2xwarrkr924-8{list-style-type:none}ul.lst-kix_m2xwarrkr924-2{list-style-type:none}ul.lst-kix_m2xwarrkr924-3{list-style-type:none}ul.lst-kix_m2xwarrkr924-4{list-style-type:none}ul.lst-kix_m2xwarrkr924-5{list-style-type:none}ul.lst-kix_m2xwarrkr924-0{list-style-type:none}ul.lst-kix_m2xwarrkr924-1{list-style-type:none}.lst-kix_m2xwarrkr924-0>li:before{content:"\0025cf   "}.lst-kix_m2xwarrkr924-1>li:before{content:"\0025cb   "}.lst-kix_564t5fwoa5v7-4>li:before{content:"\0025cb   "}.lst-kix_564t5fwoa5v7-6>li:before{content:"\0025cf   "}.lst-kix_m2xwarrkr924-2>li:before{content:"\0025a0   "}ul.lst-kix_9g1b5kh6auta-6{list-style-type:none}ul.lst-kix_9g1b5kh6auta-5{list-style-type:none}ul.lst-kix_9g1b5kh6auta-8{list-style-type:none}ul.lst-kix_9g1b5kh6auta-7{list-style-type:none}.lst-kix_564t5fwoa5v7-5>li:before{content:"\0025a0   "}ul.lst-kix_9g1b5kh6auta-2{list-style-type:none}ul.lst-kix_g3ifc0aamsix-1{list-style-type:none}ul.lst-kix_9g1b5kh6auta-1{list-style-type:none}ul.lst-kix_g3ifc0aamsix-0{list-style-type:none}ul.lst-kix_9g1b5kh6auta-4{list-style-type:none}ul.lst-kix_9g1b5kh6auta-3{list-style-type:none}.lst-kix_564t5fwoa5v7-0>li:before{content:"\0025cf   "}.lst-kix_564t5fwoa5v7-8>li:before{content:"\0025a0   "}ul.lst-kix_g3ifc0aamsix-5{list-style-type:none}ul.lst-kix_g3ifc0aamsix-4{list-style-type:none}li.li-bullet-0:before{margin-left:-18pt;white-space:nowrap;display:inline-block;min-width:18pt}ul.lst-kix_9g1b5kh6auta-0{list-style-type:none}ul.lst-kix_g3ifc0aamsix-3{list-style-type:none}ul.lst-kix_g3ifc0aamsix-2{list-style-type:none}.lst-kix_564t5fwoa5v7-7>li:before{content:"\0025cb   "}.lst-kix_m2xwarrkr924-8>li:before{content:"\0025a0   "}ul.lst-kix_g3ifc0aamsix-8{list-style-type:none}.lst-kix_m2xwarrkr924-7>li:before{content:"\0025cb   "}ul.lst-kix_g3ifc0aamsix-7{list-style-type:none}ul.lst-kix_g3ifc0aamsix-6{list-style-type:none}.lst-kix_m2xwarrkr924-6>li:before{content:"\0025cf   "}.lst-kix_564t5fwoa5v7-1>li:before{content:"\0025cb   "}.lst-kix_m2xwarrkr924-4>li:before{content:"\0025cb   "}.lst-kix_m2xwarrkr924-3>li:before{content:"\0025cf   "}.lst-kix_m2xwarrkr924-5>li:before{content:"\0025a0   "}ul.lst-kix_564t5fwoa5v7-0{list-style-type:none}ul.lst-kix_564t5fwoa5v7-1{list-style-type:none}.lst-kix_564t5fwoa5v7-2>li:before{content:"\0025a0   "}.lst-kix_g3ifc0aamsix-4>li:before{content:"\0025cb   "}.lst-kix_564t5fwoa5v7-3>li:before{content:"\0025cf   "}ol{margin:0;padding:0}table td,table th{padding:0}.c0{border-right-style:solid;padding:5pt 5pt 5pt 5pt;border-bottom-color:#b7b7b7;border-top-width:1pt;border-right-width:1pt;border-left-color:#b7b7b7;vertical-align:top;border-right-color:#b7b7b7;border-left-width:1pt;border-top-style:solid;border-left-style:solid;border-bottom-width:1pt;width:234pt;border-top-color:#b7b7b7;border-bottom-style:solid}.c8{-webkit-text-decoration-skip:none;color:#1155cc;font-weight:400;text-decoration:underline;vertical-align:baseline;text-decoration-skip-ink:none;font-size:12pt;font-family:"Source Sans 3";font-style:normal}.c2{margin-left:36pt;padding-top:10pt;padding-left:0pt;padding-bottom:10pt;line-height:1.15;orphans:2;widows:2;text-align:left}.c19{padding-top:0pt;padding-bottom:3pt;line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}.c1{padding-top:20pt;padding-bottom:6pt;line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}.c13{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:20pt;font-family:"Source Sans 3";font-style:normal}.c16{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:26pt;font-family:"Source Sans 3";font-style:normal}.c7{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:12pt;font-family:"Source Sans 3";font-style:normal}.c26{color:#cc0000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:12pt;font-family:"Source Sans 3"}.c11{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:12pt;font-family:"Source Sans 3"}.c12{padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left}.c3{padding-top:10pt;padding-bottom:10pt;line-height:1.15;orphans:2;widows:2;text-align:left}.c17{color:#000000;text-decoration:none;vertical-align:baseline;font-size:12pt;font-family:"Source Sans 3"}.c15{text-decoration-skip-ink:none;-webkit-text-decoration-skip:none;color:#1155cc;font-weight:400;text-decoration:underline}.c10{padding-top:3pt;padding-bottom:0pt;line-height:1.0;text-align:left}.c4{padding-top:0pt;padding-bottom:0pt;line-height:1.0;text-align:center}.c21{text-decoration-skip-ink:none;-webkit-text-decoration-skip:none;color:#1155cc;text-decoration:underline}.c22{border-spacing:0;border-collapse:collapse;margin-right:auto}.c14{background-color:#ffffff;max-width:468pt;padding:72pt 72pt 72pt 72pt}.c20{padding:0;margin:0}.c9{color:inherit;text-decoration:inherit}.c18{margin-left:72pt;padding-left:0pt}.c6{font-style:italic}.c24{height:12pt}.c5{font-weight:700}.c25{height:0pt}.c23{font-style:normal}.title{padding-top:0pt;color:#000000;font-size:26pt;padding-bottom:3pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}.subtitle{padding-top:0pt;color:#666666;font-size:15pt;padding-bottom:16pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}li{color:#000000;font-size:12pt;font-family:"Source Sans 3"}p{margin:0;color:#000000;font-size:12pt;font-family:"Source Sans 3"}h1{padding-top:20pt;color:#000000;font-size:20pt;padding-bottom:6pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h2{padding-top:18pt;color:#000000;font-size:16pt;padding-bottom:6pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h3{padding-top:16pt;color:#434343;font-size:14pt;padding-bottom:4pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h4{padding-top:14pt;color:#666666;font-size:12pt;padding-bottom:4pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h5{padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h6{padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;font-style:italic;orphans:2;widows:2;text-align:left}</style>
<div class="c14 doc-content">
<p class="c19 title" id="h.pydkl1lgy1wn"><span class="c16">Documentation: Open Access</span></p>
<p class="c12"><span class="c5">Table of Contents</span></p>
<p class="c10"><span class="c15"><a class="c9" href="#h.jfet3kl6km8z">Feedback</a></span></p>
<p class="c10"><span class="c15"><a class="c9" href="#h.4vn01q4aitxv">Introduction</a></span></p>
<p class="c10"><span class="c15"><a class="c9" href="#h.a3yvy23oefjb">Dashboard Tabs</a></span></p>
<p class="c10"><span class="c15"><a class="c9" href="#h.dohn1036dwp7">Data Sources</a></span></p>
<p class="c10"><span class="c15"><a class="c9" href="#h.n909nf386igl">Data Definitions</a></span></p>
<p class="c10"><span class="c15"><a class="c9" href="#h.hz8huwv96r1j">Data Filters</a></span></p>
<p class="c10"><span class="c15"><a class="c9" href="#h.h9bxkxfabq90">Data Download</a></span></p>
<h1 class="c1" id="h.jfet3kl6km8z"><span class="c13">Feedback</span></h1>
<p class="c12"><span>Please</span><span> submit feedback by emailing: </span><span class="c21 c5"><a class="c9" href="mailto:rialto-service@lists.stanford.edu">rialto-service@lists.stanford.edu</a></span><span>.</span></p>
<h1 class="c1" id="h.4vn01q4aitxv"><span>Introduction</span></h1>
<p class="c12"><span class="c17 c6 c5">What is RIALTO?</span></p>
<p class="c12"><span>RIALTO is a research intelligence application built by Stanford Libraries.</span></p>
<p class="c12"><span class="c6 c26">RIALTO is currently in the beta phase. We are working to refine our data collection pipeline. Please let us know if you notice differences between the RIALTO data and your own records.</span></p>
<p class="c12 c24"><span class="c7"></span></p>
<p class="c12"><span class="c6 c5 c17">What is the RIALTO Open Access dashboard?</span></p>
<p class="c12"><span class="c7">The RIALTO Open Access dashboard provides insights into Stanford Open Access publishing across the university as well as by school and department.</span></p>
<p class="c12 c24"><span class="c7"></span></p>
<p class="c12"><span class="c17 c6 c5">Why is Open Access important?</span></p>
<p class="c12"><span>Open Access publishing is important because of internal university priorities as well as external priorities. The </span><span class="c21"><a class="c9" href="https://www.google.com/url?q=https://bidenwhitehouse.archives.gov/wp-content/uploads/2022/08/08-2022-OSTP-Public-Access-Memo.pdf&amp;sa=D&amp;source=editors&amp;ust=1765401562783642&amp;usg=AOvVaw2J-FgXFUVbSK0dlvpvq751">OSTP Nelson Memo</a></span><span> mandates free, immediate, and equitable access to all federally funded research by the end of 2025. </span></p>
<h1 class="c1" id="h.a3yvy23oefjb"><span class="c13">Dashboard Tabs</span></h1>
<table class="c22">
<tr class="c25">
<td class="c0" colspan="1" rowspan="1">
<p class="c4"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 298.00px; height: 184.00px;"><img alt="" src="https://lh7-rt.googleusercontent.com/docsz/AD_4nXer1RGUIzmoE8RnAhzU2uV9qrEUdrb6wzdYP7j4w8tL4xB5IleRa1x1pfY55HzROzwGopwGsGY5df_enbrROA69PPwmqAdCNVkYY17HhObzi3escZeIJ9HkcP38A1M_P4s?key=aiKvBFZxgLHp0gTENTYgh0H5" style="width: 298.00px; height: 184.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p>
<p class="c4"><span class="c7">Stanford OA Overview</span></p>
</td>
<td class="c0" colspan="1" rowspan="1">
<p class="c4"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 298.00px; height: 184.00px;"><img alt="" src="https://lh7-rt.googleusercontent.com/docsz/AD_4nXfSg9t6txERHtNZb_vYSE9-D-VhK9HGVEINapaG3KcSk-5L6bJGvGAwJxdhzr0BeYYFAtZuGiqsJeIWYWumedYh-ql0MatWvv_ts2zP6GWPB97a8JKRNo4keG0EUmcIEFk?key=aiKvBFZxgLHp0gTENTYgh0H5" style="width: 298.00px; height: 184.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p>
<p class="c4"><span class="c7">School OA Overview</span></p>
</td>
</tr>
<tr class="c25">
<td class="c0" colspan="1" rowspan="1">
<p class="c4"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 298.00px; height: 184.00px;"><img alt="" src="https://lh7-rt.googleusercontent.com/docsz/AD_4nXejbiVQG7VJQWoa9ul9BM_vbZ8hE50OQXMVSXYgjcXMk_WaNBakunnyIDZMup6-dzYhHSp-gkYbaeUzH2GgljlsoLfNHBW-O-nOqYA20yyk2HxU4ailXxY_EN4MG7bv1g?key=aiKvBFZxgLHp0gTENTYgh0H5" style="width: 298.00px; height: 184.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p>
<p class="c4"><span class="c7">School OA Drill Down</span></p>
</td>
<td class="c0" colspan="1" rowspan="1"><p class="c4 c24"><span class="c7"></span></p></td>
</tr>
</table>
<h1 class="c1" id="h.dohn1036dwp7"><span class="c13">Data Sources</span></h1>
<ul class="c20 lst-kix_g3ifc0aamsix-0 start">
<li class="c2 li-bullet-0">
<span class="c5">RIALTO Airflow</span><span class="c7">: A publication harvesting system that takes approved publications and researcher data from SUL-Pub (below) as a starting point then queries additional sources by ORCiD and DOI (for approved publications). All publications are merged together on DOI and enriched with additional data sources, including federal funder data, and Article Processing Charge data sets.</span>
</li>
<li class="c2 li-bullet-0">
<span class="c5">SUL-Pub</span><span>: A publication harvesting system that is managed by Stanford University Libraries, Digital Library Systems and Services. The system harvests publications from the Web of Science, PubMed, and Dimensions by querying combinations of Stanford researcher names and institutions (including prior institutions) as well as ORCiDs. The publications are then sent to researchers to approve or deny and publish to their </span><span class="c21"><a class="c9" href="https://www.google.com/url?q=https://profiles.stanford.edu/&amp;sa=D&amp;source=editors&amp;ust=1765401562786382&amp;usg=AOvVaw3-eTGZsLX0997-jslqAoAS">Stanford Profile</a></span><span class="c7">.        </span>
</li>
</ul>
<h1 class="c1" id="h.n909nf386igl"><span class="c13">Data Definitions</span></h1>
<ul class="c20 lst-kix_564t5fwoa5v7-0 start"><li class="c2 li-bullet-0">
<span class="c5">APC (Article Processing Charge)</span><span>: An Article Processing Charge is a fee publishers charge researchers to make their publication openly accessible to readers. Estimating APCs is complex but we believe our approach is conservative. It should also be noted that it's possible that co-authors not affiliated with Stanford paid the APC for any given publication. This is an </span><span class="c6 c5">estimate of all APCs paid for</span><span> </span><span class="c6 c5">Stanford publications</span><span>, not an </span><span class="c6 c5">estimate of all APCs paid by Stanford researchers</span><span class="c7">. We prioritize data sources based on data quality. We use the below sources in priority order:</span>
</li></ul>
<ul class="c20 lst-kix_564t5fwoa5v7-1 start">
<li class="c3 c18 li-bullet-0">
<span class="c21"><a class="c9" href="https://www.google.com/url?q=https://github.com/OpenAPC/openapc-de&amp;sa=D&amp;source=editors&amp;ust=1765401562787550&amp;usg=AOvVaw3uY97sUe4rPQ_XtJgOsqEV">OpenAPC</a></span><span class="c7">: a crowdsourced APC dataset where individual researchers and institutions can add APC data.</span>
</li>
<li class="c3 c18 li-bullet-0">
<span class="c21"><a class="c9" href="https://www.google.com/url?q=https://dataverse.harvard.edu/dataset.xhtml?persistentId%3Ddoi:10.7910/DVN/CR1MMV&amp;sa=D&amp;source=editors&amp;ust=1765401562787871&amp;usg=AOvVaw3CCVstcF927zR3sUWO88Qf">Open dataset of APCs</a></span><span class="c7">: a dataset prepared by the ScholCom Lab at Simon Fraser University. The dataset includes manually verified list prices for many of the top publishers by year. It is important to note that the research does not always pay the list price. In some cases, list prices can be negotiated.</span>
</li>
<li class="c3 c18 li-bullet-0">
<span>APC list prices from </span><span class="c21"><a class="c9" href="https://www.google.com/url?q=https://docs.openalex.org/&amp;sa=D&amp;source=editors&amp;ust=1765401562788477&amp;usg=AOvVaw2_qQeH3HO_dO24vBXNvW6i">OpenAlex</a></span><span class="c7">, an open source publication database.</span>
</li>
<li class="c3 c18 li-bullet-0"><span class="c7">For any remaining publication, we estimate the APC based on the Open Access category: ”Gold”=$2,450; ”Hybrid”=$3,600; all other categories = $0.</span></li>
</ul>
<ul class="c20 lst-kix_564t5fwoa5v7-0">
<li class="c2 li-bullet-0">
<span class="c5">Open Access Publications</span><span>: OA Publications are scholarly research articles made available to the public without user subscription or access fees. There are different categories of Open Access (including </span><span class="c6">Diamond, Gold, Hybrid, Green, Bronze</span><span class="c7">).</span>
</li>
<li class="c2 li-bullet-0">
<span class="c5">Closed Access Publications</span><span>: Closed Access Publications are scholarly research articles that require users to pay a subscription or access fee to read.</span>
</li>
<li class="c2 li-bullet-0">
<span class="c5">Department</span><span class="c7">: The primary Stanford department a researcher is affiliated with. In some cases, a researcher may have multiple affiliations. This dashboard only tracks their primary affiliation. </span>
</li>
<li class="c2 li-bullet-0">
<span class="c5">Publications</span><span class="c7">: Publications are harvested from many different sources and merged on DOI. In the case of publications without a DOI, we make an effort to deduplicate these based on a combination of other identifiers and other metadata fields. This deduplication strategy is evolving but it is not perfect; some publications without DOIs will likely be duplicated.</span>
</li>
<li class="c2 li-bullet-0">
<span class="c5">School</span><span class="c7">: The primary Stanford school a researcher is affiliated with. In some cases, a researcher may have multiple affiliations. This dashboard only tracks their primary affiliation.</span>
</li>
</ul>
<h1 class="c1" id="h.hz8huwv96r1j"><span class="c13">Data Filters</span></h1>
<ul class="c20 lst-kix_m2xwarrkr924-0 start">
<li class="c2 li-bullet-0">
<span class="c5">Open Access Category</span><span>: The color names denoting different Open Access categories: </span><span class="c6">Diamond</span><span>, </span><span class="c6">Gold</span><span>, </span><span class="c6">Hybrid</span><span>, </span><span class="c6">Green</span><span>, </span><span class="c6">Bronze</span><span>, </span><span class="c6">Closed</span><span>. See </span><span class="c21"><a class="c9" href="https://www.google.com/url?q=https://en.wikipedia.org/wiki/Open_access%23Definitions&amp;sa=D&amp;source=editors&amp;ust=1765401562792311&amp;usg=AOvVaw1l0M7sLfzazlf6sttD39la">Wikipedia: Open Access Definitions</a></span><span>. </span><span class="c6">Not Available</span><span> means </span><span>OA data not available for these publications.</span>
</li>
<li class="c2 li-bullet-0">
<span class="c5">Academic Council Authored</span><span>: </span><span>True</span><span> if at least one publication author is a member of the </span><span class="c21"><a class="c9" href="https://www.google.com/url?q=https://web.stanford.edu/dept/registrar/bulletin1112/4811.htm&amp;sa=D&amp;source=editors&amp;ust=1765401562792816&amp;usg=AOvVaw1EANB5iYVYaERYLOb9BtKU">Stanford Academic Council</a></span><span class="c7">. Otherwise False.</span>
</li>
<li class="c2 li-bullet-0">
<span class="c5">Faculty Authored</span><span class="c7">: True if at least one publication author is a member of the Stanford Faculty. Otherwise False.</span>
</li>
<li class="c2 li-bullet-0">
<span class="c5">Publication Type</span><span>: </span><span class="c6">Article</span><span>, </span><span class="c6">Book</span><span>, </span><span class="c6">Chapter</span><span>, </span><span class="c6">Preprint</span><span>, </span><span class="c6">Other</span><span class="c7">.</span>
</li>
<li class="c2 li-bullet-0">
<span class="c5">Publication Year</span><span>: Our data includes publications from 2018 to the current year. Note: Publication data for the current year is necessarily incomplete.</span>
</li>
<li class="c2 li-bullet-0">
<span class="c5">Federally Funded</span><span>: True if at least one of the publication’s funders is Federal. Otherwise False. Funder data for each publication is provided by Dimensions or OpenAlex, and a separate dataset identifies which funders are Federal.</span>
</li>
<li class="c2 li-bullet-0">
<span class="c5">APC (Article Processing Charge)</span><span>: The fee publishers charge researchers to make their publication openly accessible to readers. See </span><span class="c21"><a class="c9" href="#h.n909nf386igl">Data Definitions</a></span><span class="c7">.</span>
</li>
</ul>
<h1 class="c1" id="h.h9bxkxfabq90"><span>Data Download</span></h1>
<p class="c3"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 624.00px; height: 245.33px;"><img alt="" src="https://lh7-rt.googleusercontent.com/docsz/AD_4nXc0eScN-DPyP2QcwvEPvbuQgHjPYf9tcF18jSidd5HKQ6TobGtW443chtHWGiM3VnclYEsdgsbju5DhPguAJ6ssquIFAFCn4OhL8JsYAL8zZqKU-NMmc54_qcFpnlcQDAY?key=aiKvBFZxgLHp0gTENTYgh0H5" style="width: 624.00px; height: 245.33px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p>
<p class="c3"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 624.00px; height: 244.00px;"><img alt="" src="https://lh7-rt.googleusercontent.com/docsz/AD_4nXdlSi5QsgeHRWR1dqRnchxdfGLXAZX_UdGTsCUmePfmficXVYa6XvvWB0YKzGZqs2r3v1Rkx1PFxY8q2G-gpQzTMzGcd27UznlYIDbckhV6dCHsuSGhaVb7724bHqKwaKM?key=aiKvBFZxgLHp0gTENTYgh0H5" style="width: 624.00px; height: 244.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p>
<ul class="c20 lst-kix_9g1b5kh6auta-0 start">
<li class="c2 li-bullet-0">
<span>Select </span><span class="c6 c5">Choose a format to download</span><span> &gt; </span><span class="c6 c5">Data</span><span class="c7">.</span>
</li>
<li class="c2 li-bullet-0">
<span>The data will open in a popup window. Select </span><span class="c6 c5">Download</span><span class="c7">.</span>
</li>
</ul>
<p class="c3"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 624.00px; height: 260.00px;"><img alt="" src="https://lh7-rt.googleusercontent.com/docsz/AD_4nXcNoqYo3Qt5xgv-3R-wf5Baekz2FG13iuRsylKNmuqaFqIEvIs4lD1ubnRlWtqXSNHV3SSCi3r5a_u-fdYydxVT3MUQC_yVunirssJbU8JDfNXQ6zBsotdtp9LQVfMUuts?key=aiKvBFZxgLHp0gTENTYgh0H5" style="width: 624.00px; height: 260.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p>
<ul class="c20 lst-kix_9g1b5kh6auta-0"><li class="c2 li-bullet-0">
<span>If the data you're expecting is not appearing in the popup window, be sure you have clicked into the relevant table before selecting </span><span class="c6 c5">Choose a format to download</span><span class="c7">.</span>
</li></ul>
</div>
</div>
<div class='last-updated mb-4 fst-italic'>
                        Last updated: December 10, 2025
                      </div>
