<div id="contents">
<style type="text/css">.doc-content {
@import url(https://themes.googleusercontent.com/fonts/css?kit=5vSxKGgtD1Pm7088AqcDZWUt20uPbwrUgW4A2t_JOSyiXA7pAjWVG99DQTeU85cQ);
ul.lst-kix_zfubk05n23z1-2{
list-style-type:none
}.lst-kix_w8mnpi9i1h7c-4>li:before{
content:"\0025cb   "
}ul.lst-kix_zfubk05n23z1-3{
list-style-type:none
}ul.lst-kix_zfubk05n23z1-4{
list-style-type:none
}ul.lst-kix_zfubk05n23z1-5{
list-style-type:none
}ul.lst-kix_zfubk05n23z1-6{
list-style-type:none
}ul.lst-kix_zfubk05n23z1-7{
list-style-type:none
}ul.lst-kix_zfubk05n23z1-8{
list-style-type:none
}.lst-kix_w8mnpi9i1h7c-1>li:before{
content:"\0025cb   "
}.lst-kix_w8mnpi9i1h7c-5>li:before{
content:"\0025a0   "
}.lst-kix_w8mnpi9i1h7c-0>li:before{
content:"\0025cf   "
}.lst-kix_w8mnpi9i1h7c-8>li:before{
content:"\0025a0   "
}.lst-kix_w8mnpi9i1h7c-6>li:before{
content:"\0025cf   "
}.lst-kix_w8mnpi9i1h7c-7>li:before{
content:"\0025cb   "
}ul.lst-kix_fy8e8j13r91h-4{
list-style-type:none
}ul.lst-kix_fy8e8j13r91h-3{
list-style-type:none
}ul.lst-kix_fy8e8j13r91h-6{
list-style-type:none
}ul.lst-kix_fy8e8j13r91h-5{
list-style-type:none
}ul.lst-kix_fy8e8j13r91h-0{
list-style-type:none
}ul.lst-kix_fy8e8j13r91h-2{
list-style-type:none
}ul.lst-kix_fy8e8j13r91h-1{
list-style-type:none
}ul.lst-kix_fy8e8j13r91h-8{
list-style-type:none
}ul.lst-kix_fy8e8j13r91h-7{
list-style-type:none
}ul.lst-kix_zfubk05n23z1-0{
list-style-type:none
}ul.lst-kix_zfubk05n23z1-1{
list-style-type:none
}.lst-kix_a9ymd1m0e888-8>li:before{
content:"\0025a0   "
}ul.lst-kix_th23lkteqk8-3{
list-style-type:none
}ul.lst-kix_th23lkteqk8-2{
list-style-type:none
}.lst-kix_a9ymd1m0e888-7>li:before{
content:"\0025cb   "
}ul.lst-kix_th23lkteqk8-1{
list-style-type:none
}ul.lst-kix_th23lkteqk8-0{
list-style-type:none
}ul.lst-kix_a9ymd1m0e888-1{
list-style-type:none
}.lst-kix_a9ymd1m0e888-6>li:before{
content:"\0025cf   "
}ul.lst-kix_th23lkteqk8-7{
list-style-type:none
}ul.lst-kix_a9ymd1m0e888-0{
list-style-type:none
}ul.lst-kix_th23lkteqk8-6{
list-style-type:none
}ul.lst-kix_th23lkteqk8-5{
list-style-type:none
}ul.lst-kix_th23lkteqk8-4{
list-style-type:none
}.lst-kix_th23lkteqk8-0>li:before{
content:"\0025cf   "
}.lst-kix_th23lkteqk8-1>li:before{
content:"\0025cb   "
}ul.lst-kix_th23lkteqk8-8{
list-style-type:none
}.lst-kix_th23lkteqk8-4>li:before{
content:"\0025cb   "
}.lst-kix_th23lkteqk8-3>li:before{
content:"\0025cf   "
}.lst-kix_th23lkteqk8-5>li:before{
content:"\0025a0   "
}.lst-kix_th23lkteqk8-2>li:before{
content:"\0025a0   "
}.lst-kix_th23lkteqk8-6>li:before{
content:"\0025cf   "
}ul.lst-kix_a9ymd1m0e888-5{
list-style-type:none
}ul.lst-kix_a9ymd1m0e888-4{
list-style-type:none
}ul.lst-kix_a9ymd1m0e888-3{
list-style-type:none
}ul.lst-kix_a9ymd1m0e888-2{
list-style-type:none
}.lst-kix_w8mnpi9i1h7c-2>li:before{
content:"\0025a0   "
}ul.lst-kix_a9ymd1m0e888-8{
list-style-type:none
}ul.lst-kix_a9ymd1m0e888-7{
list-style-type:none
}.lst-kix_w8mnpi9i1h7c-3>li:before{
content:"\0025cf   "
}ul.lst-kix_a9ymd1m0e888-6{
list-style-type:none
}.lst-kix_zfubk05n23z1-1>li:before{
content:"\0025cb   "
}.lst-kix_zfubk05n23z1-2>li:before{
content:"\0025a0   "
}.lst-kix_fy8e8j13r91h-0>li:before{
content:"\0025cf   "
}.lst-kix_zfubk05n23z1-4>li:before{
content:"\0025cb   "
}.lst-kix_fy8e8j13r91h-1>li:before{
content:"\0025cb   "
}.lst-kix_zfubk05n23z1-3>li:before{
content:"\0025cf   "
}.lst-kix_zfubk05n23z1-6>li:before{
content:"\0025cf   "
}.lst-kix_fy8e8j13r91h-3>li:before{
content:"\0025cf   "
}.lst-kix_fy8e8j13r91h-4>li:before{
content:"\0025cb   "
}.lst-kix_a9ymd1m0e888-1>li:before{
content:"\0025cb   "
}.lst-kix_a9ymd1m0e888-2>li:before{
content:"\0025a0   "
}.lst-kix_fy8e8j13r91h-2>li:before{
content:"\0025a0   "
}.lst-kix_fy8e8j13r91h-6>li:before{
content:"\0025cf   "
}.lst-kix_zfubk05n23z1-5>li:before{
content:"\0025a0   "
}.lst-kix_a9ymd1m0e888-4>li:before{
content:"\0025cb   "
}.lst-kix_a9ymd1m0e888-3>li:before{
content:"\0025cf   "
}.lst-kix_a9ymd1m0e888-5>li:before{
content:"\0025a0   "
}.lst-kix_zfubk05n23z1-8>li:before{
content:"\0025a0   "
}.lst-kix_fy8e8j13r91h-5>li:before{
content:"\0025a0   "
}.lst-kix_zfubk05n23z1-7>li:before{
content:"\0025cb   "
}.lst-kix_zhv6nuk0hul5-7>li:before{
content:"\0025cb   "
}ul.lst-kix_wchz6ytns4sd-0{
list-style-type:none
}ul.lst-kix_wchz6ytns4sd-1{
list-style-type:none
}ul.lst-kix_wchz6ytns4sd-2{
list-style-type:none
}ul.lst-kix_wchz6ytns4sd-3{
list-style-type:none
}.lst-kix_zhv6nuk0hul5-6>li:before{
content:"\0025cf   "
}ul.lst-kix_zyu0heglakh-6{
list-style-type:none
}ul.lst-kix_zyu0heglakh-5{
list-style-type:none
}ul.lst-kix_zyu0heglakh-4{
list-style-type:none
}ul.lst-kix_zyu0heglakh-3{
list-style-type:none
}ul.lst-kix_zyu0heglakh-2{
list-style-type:none
}ul.lst-kix_zyu0heglakh-1{
list-style-type:none
}ul.lst-kix_zyu0heglakh-0{
list-style-type:none
}.lst-kix_zhv6nuk0hul5-8>li:before{
content:"\0025a0   "
}.lst-kix_a9ymd1m0e888-0>li:before{
content:"\0025cf   "
}.lst-kix_wchz6ytns4sd-2>li:before{
content:"\0025a0   "
}.lst-kix_wchz6ytns4sd-0>li:before{
content:"\0025cf   "
}.lst-kix_wchz6ytns4sd-1>li:before{
content:"\0025cb   "
}ul.lst-kix_zyu0heglakh-8{
list-style-type:none
}ul.lst-kix_zyu0heglakh-7{
list-style-type:none
}ul.lst-kix_wchz6ytns4sd-4{
list-style-type:none
}ul.lst-kix_wchz6ytns4sd-5{
list-style-type:none
}ul.lst-kix_wchz6ytns4sd-6{
list-style-type:none
}ul.lst-kix_wchz6ytns4sd-7{
list-style-type:none
}.lst-kix_zfubk05n23z1-0>li:before{
content:"\0025cf   "
}ul.lst-kix_wchz6ytns4sd-8{
list-style-type:none
}ul.lst-kix_zhv6nuk0hul5-0{
list-style-type:none
}.lst-kix_zhv6nuk0hul5-0>li:before{
content:"\0025cf   "
}.lst-kix_zhv6nuk0hul5-1>li:before{
content:"\0025cb   "
}ul.lst-kix_zhv6nuk0hul5-6{
list-style-type:none
}.lst-kix_wchz6ytns4sd-3>li:before{
content:"\0025cf   "
}ul.lst-kix_zhv6nuk0hul5-5{
list-style-type:none
}ul.lst-kix_zhv6nuk0hul5-8{
list-style-type:none
}.lst-kix_zyu0heglakh-0>li:before{
content:"\0025cf   "
}ul.lst-kix_zhv6nuk0hul5-7{
list-style-type:none
}ul.lst-kix_zhv6nuk0hul5-2{
list-style-type:none
}.lst-kix_zhv6nuk0hul5-3>li:before{
content:"\0025cf   "
}.lst-kix_wchz6ytns4sd-4>li:before{
content:"\0025cb   "
}.lst-kix_wchz6ytns4sd-5>li:before{
content:"\0025a0   "
}ul.lst-kix_zhv6nuk0hul5-1{
list-style-type:none
}.lst-kix_zhv6nuk0hul5-2>li:before{
content:"\0025a0   "
}ul.lst-kix_zhv6nuk0hul5-4{
list-style-type:none
}ul.lst-kix_zhv6nuk0hul5-3{
list-style-type:none
}.lst-kix_wchz6ytns4sd-6>li:before{
content:"\0025cf   "
}.lst-kix_wchz6ytns4sd-7>li:before{
content:"\0025cb   "
}.lst-kix_zhv6nuk0hul5-5>li:before{
content:"\0025a0   "
}.lst-kix_4tu3lpuc48s1-0>li:before{
content:"\0025cf   "
}.lst-kix_zhv6nuk0hul5-4>li:before{
content:"\0025cb   "
}ul.lst-kix_4tu3lpuc48s1-0{
list-style-type:none
}.lst-kix_4tu3lpuc48s1-2>li:before{
content:"\0025a0   "
}.lst-kix_4tu3lpuc48s1-1>li:before{
content:"\0025cb   "
}ul.lst-kix_4tu3lpuc48s1-2{
list-style-type:none
}.lst-kix_4tu3lpuc48s1-3>li:before{
content:"\0025cf   "
}ul.lst-kix_4tu3lpuc48s1-1{
list-style-type:none
}ul.lst-kix_4tu3lpuc48s1-4{
list-style-type:none
}.lst-kix_wchz6ytns4sd-8>li:before{
content:"\0025a0   "
}ul.lst-kix_4tu3lpuc48s1-3{
list-style-type:none
}ul.lst-kix_4tu3lpuc48s1-6{
list-style-type:none
}ul.lst-kix_4tu3lpuc48s1-5{
list-style-type:none
}ul.lst-kix_4tu3lpuc48s1-8{
list-style-type:none
}.lst-kix_fy8e8j13r91h-7>li:before{
content:"\0025cb   "
}.lst-kix_fy8e8j13r91h-8>li:before{
content:"\0025a0   "
}ul.lst-kix_4tu3lpuc48s1-7{
list-style-type:none
}.lst-kix_4tu3lpuc48s1-5>li:before{
content:"\0025a0   "
}.lst-kix_4tu3lpuc48s1-4>li:before{
content:"\0025cb   "
}.lst-kix_4tu3lpuc48s1-6>li:before{
content:"\0025cf   "
}.lst-kix_4tu3lpuc48s1-7>li:before{
content:"\0025cb   "
}.lst-kix_4tu3lpuc48s1-8>li:before{
content:"\0025a0   "
}.lst-kix_th23lkteqk8-8>li:before{
content:"\0025a0   "
}.lst-kix_th23lkteqk8-7>li:before{
content:"\0025cb   "
}.lst-kix_zyu0heglakh-6>li:before{
content:"\0025cf   "
}.lst-kix_zyu0heglakh-8>li:before{
content:"\0025a0   "
}.lst-kix_zyu0heglakh-3>li:before{
content:"\0025cf   "
}.lst-kix_zyu0heglakh-7>li:before{
content:"\0025cb   "
}.lst-kix_zyu0heglakh-2>li:before{
content:"\0025a0   "
}ul.lst-kix_w8mnpi9i1h7c-0{
list-style-type:none
}li.li-bullet-0:before{
margin-left:-18pt;white-space:nowrap;display:inline-block;min-width:18pt
}ul.lst-kix_w8mnpi9i1h7c-1{
list-style-type:none
}ul.lst-kix_w8mnpi9i1h7c-2{
list-style-type:none
}.lst-kix_zyu0heglakh-1>li:before{
content:"\0025cb   "
}ul.lst-kix_w8mnpi9i1h7c-3{
list-style-type:none
}ul.lst-kix_w8mnpi9i1h7c-4{
list-style-type:none
}ul.lst-kix_w8mnpi9i1h7c-5{
list-style-type:none
}ul.lst-kix_w8mnpi9i1h7c-6{
list-style-type:none
}ul.lst-kix_w8mnpi9i1h7c-7{
list-style-type:none
}ul.lst-kix_w8mnpi9i1h7c-8{
list-style-type:none
}.lst-kix_zyu0heglakh-4>li:before{
content:"\0025cb   "
}.lst-kix_zyu0heglakh-5>li:before{
content:"\0025a0   "
}ol{
margin:0;padding:0
}table td,table th{
padding:0
}.c24{
border-right-style:solid;padding:5pt 5pt 5pt 5pt;border-bottom-color:#bf9000;border-top-width:1pt;border-right-width:1pt;border-left-color:#bf9000;vertical-align:top;border-right-color:#bf9000;border-left-width:1pt;border-top-style:solid;background-color:#fff2cc;border-left-style:solid;border-bottom-width:1pt;width:468pt;border-top-color:#bf9000;border-bottom-style:solid
}.c4{
margin-left:72pt;padding-top:0pt;padding-left:0pt;padding-bottom:10pt;line-height:1.15;orphans:2;widows:2;text-align:left
}.c0{
margin-left:36pt;padding-top:0pt;padding-left:0pt;padding-bottom:10pt;line-height:1.15;orphans:2;widows:2;text-align:left
}.c14{
margin-left:36pt;padding-top:10pt;padding-left:0pt;padding-bottom:10pt;line-height:1.15;orphans:2;widows:2;text-align:left
}.c2{
color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Source Sans 3";font-style:normal
}.c17{
padding-top:20pt;padding-bottom:6pt;line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}.c10{
color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:20pt;font-family:"Source Sans 3";font-style:normal
}.c15{
padding-top:18pt;padding-bottom:6pt;line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}.c9{
padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left;height:12pt
}.c13{
padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left
}.c11{
padding-top:0pt;padding-bottom:10pt;line-height:1.15;orphans:2;widows:2;text-align:left
}.c22{
color:#000000;text-decoration:none;vertical-align:baseline;font-family:"Source Sans 3";font-style:normal
}.c12{
font-weight:400;vertical-align:baseline;font-family:"Source Sans 3";font-style:normal
}.c27{
padding-top:0pt;padding-bottom:0pt;line-height:1.0;text-align:left
}.c25{
border-spacing:0;border-collapse:collapse;margin-right:auto
}.c8{
font-weight:400;vertical-align:baseline;font-family:"Arial";font-style:normal
}.c18{
padding-top:3pt;padding-bottom:0pt;line-height:1.15;text-align:left
}.c26{
background-color:#ffffff;max-width:468pt;padding:72pt 72pt 72pt 72pt
}.c21{
color:#000000;text-decoration:none;font-size:26pt
}.c7{
text-decoration-skip-ink:none;-webkit-text-decoration-skip:none;text-decoration:underline
}.c1{
color:inherit;text-decoration:inherit
}.c19{
padding:0;margin:0
}.c23{
height:12pt
}.c20{
height:0pt
}.c16{
font-style:italic
}.c5{
font-weight:700
}.c6{
color:#1155cc
}.c3{
font-size:11pt
}.title{
padding-top:0pt;color:#000000;font-size:26pt;padding-bottom:3pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}.subtitle{
padding-top:0pt;color:#666666;font-size:15pt;padding-bottom:16pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}li{
color:#000000;font-size:12pt;font-family:"Source Sans 3"
}p{
margin:0;color:#000000;font-size:12pt;font-family:"Source Sans 3"
}h1{
padding-top:20pt;color:#000000;font-size:26pt;padding-bottom:6pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}h2{
padding-top:18pt;color:#000000;font-size:20pt;padding-bottom:6pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}h3{
padding-top:16pt;color:#434343;font-size:14pt;padding-bottom:4pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}h4{
padding-top:14pt;color:#666666;font-size:12pt;padding-bottom:4pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}h5{
padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}h6{
padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;font-style:italic;orphans:2;widows:2;text-align:left
}
}</style>
<div class="c26 doc-content">
<h1 class="c17" id="h.xy1gz0hthuh3"><span class="c12 c21">Documentation: ORCID iD Adoption Dashboard</span></h1>
<p class="c13"><span class="c5 c3 c22">Table of Contents</span></p>
<p class="c18"><span class="c7 c6 c3 c12"><a class="c1" href="#h.jfet3kl6km8z">About</a></span></p>
<p class="c18"><span class="c12 c7 c6 c3"><a class="c1" href="#h.u5bn3twko6o2">Dashboard Tabs</a></span></p>
<p class="c18"><span class="c12 c7 c6 c3"><a class="c1" href="#h.ccn8senky2ab">Data Sources</a></span></p>
<p class="c18"><span class="c12 c7 c6 c3"><a class="c1" href="#h.a799khcsf67w">Data Definitions</a></span></p>
<p class="c18"><span class="c12 c7 c6 c3"><a class="c1" href="#h.e2kxv7kc92qn">Data Download</a></span></p>
<h2 class="c15" id="h.jfet3kl6km8z"><span class="c10">About</span></h2>
<p class="c13"><span class="c3">The RIALTO ORCID iD Adoption dashboard provides information about </span><span class="c7 c6 c3"><a class="c1" href="https://www.google.com/url?q=https://guides.library.stanford.edu/orcid/register&amp;sa=D&amp;source=editors&amp;ust=1782164374991473&amp;usg=AOvVaw3bmmAP29nl5blqjPjBSzt-">ORCID iD-SUNet integration</a></span><span class="c2"> by Stanford researchers in order to improve ORCID iD adoption outreach efforts and enable Stanford stakeholders to measure compliance with internal and external adoption policies.</span></p>
<p class="c9"><span class="c2"></span></p>
<p class="c13"><span class="c2">ORCID integration is critical to RIALTO data collection as integrating ORCID iDs with SUNets is the only way RIALTO systems become aware of the ORCID iDs of Stanford researchers and ORCID iDs are the primary means of discovering the works or Stanford researchers.</span></p>
<p class="c9"><span class="c2"></span></p>
<p class="c13"><span class="c3">Please submit feedback by emailing: </span><span class="c7 c5 c6 c3"><a class="c1" href="mailto:rialto-service@lists.stanford.edu">rialto-service@lists.stanford.edu</a></span><span class="c2">.</span></p>
<h2 class="c15" id="h.u5bn3twko6o2"><span class="c10">Dashboard Tabs</span></h2>
<p class="c13"><span class="c3">The </span><span class="c3">ORCID</span><span class="c2"> iD Adoption dashboard features three dashboard tabs:</span></p>
<ul class="c19 lst-kix_wchz6ytns4sd-0 start">
<li class="c14 li-bullet-0">
<span class="c5 c3">Stanford Overview</span><span class="c2">: Counts of total ORCID iD adoption at Stanford from 2021 forward. Percent of ORCID iD adoption by each Role at Stanford (faculty, postdoc, PhD student, Master’s student, staff). A table showing the percent ORCID iD adoption within each Role for each of Stanford’s Schools.</span>
</li>
<li class="c14 li-bullet-0">
<span class="c5 c3">Department Details</span><span class="c2">: A table showing the percent of ORCID iD adoption within each Role for each School and Department. You can filter the table by School, Department, Role, and/or ORCID status.</span>
</li>
<li class="c14 li-bullet-0">
<span class="c5 c3">Researcher Details</span><span class="c2">: A table showing the ORCID status for individual researchers. You can filter the table by School, Department, Role, and/or ORCID status. You can search by a researcher’s SUNet ID.</span>
</li>
</ul>
<h2 class="c15" id="h.ccn8senky2ab"><span class="c10">Data Sources</span></h2>
<p class="c11"><span class="c2">ORCID iD-SUNet integration statistics are collected from Stanford's ORCID iD-SUNet integration service at regular intervals.</span></p>
<table class="c25"><tr class="c20"><td class="c24" colspan="1" rowspan="1"><p class="c27"><span class="c3">Want to be sure your publications are in our datasets?</span><span class="c3 c6"><a class="c1" href="https://www.google.com/url?q=https://authorize.stanford.edu/orcid/OrcidInit?&amp;sa=D&amp;source=editors&amp;ust=1782164374995121&amp;usg=AOvVaw1JjbGWTtY_f6jp03RPaPGe"> </a></span><span class="c7 c6 c3"><a class="c1" href="https://www.google.com/url?q=https://authorize.stanford.edu/orcid/OrcidInit?&amp;sa=D&amp;source=editors&amp;ust=1782164374995326&amp;usg=AOvVaw1CHfi_BEF1LtfoonrhdYcN">Link your ORCID iD to your SUNet ID</a></span><span class="c2">.</span></p></td></tr></table>
<p class="c9"><span class="c2"></span></p>
<p class="c11"><span class="c3">Information about roles, schools, and departments comes from several Stanford sources, including the Stanford Registry and </span><span class="c7 c6 c3"><a class="c1" href="https://www.google.com/url?q=https://profiles.stanford.edu/&amp;sa=D&amp;source=editors&amp;ust=1782164374995811&amp;usg=AOvVaw3SbKAGmt_WDuadU0T-_-aV">Stanford Profiles</a></span><span class="c2">.        </span></p>
<p class="c13"><span class="c2">We are always working to refine our data collection pipeline. Please let us know if you notice differences between the RIALTO data and your own records.</span></p>
<h2 class="c15" id="h.a799khcsf67w"><span class="c10">Data Definitions</span></h2>
<ul class="c19 lst-kix_4tu3lpuc48s1-0 start"><li class="c0 li-bullet-0">
<span class="c5 c3">ORCID iD</span><span class="c3">: Researchers who have gone through the Stanford </span><span class="c7 c6 c3"><a class="c1" href="https://www.google.com/url?q=https://guides.library.stanford.edu/orcid/register&amp;sa=D&amp;source=editors&amp;ust=1782164374996561&amp;usg=AOvVaw1vZTdoz_zvXZ7agxlqfX7-">ORCID iD-SUNet integration</a></span><span class="c2"> to connect their ORCID iD to their SUNet.</span>
</li></ul>
<ul class="c19 lst-kix_4tu3lpuc48s1-1 start">
<li class="c4 li-bullet-0">
<span class="c5 c3">ORCID iD Only</span><span class="c2">: Researchers who have connected their ORCID iD to their SUNet, but they haven’t granted Update Permission.</span>
</li>
<li class="c4 li-bullet-0">
<span class="c5 c3">ORCID iD &amp; Update Permission</span><span class="c3">: Researchers who have connected their ORCID iD to their SUNet, and have also granted Stanford permission to update their ORCID record. Stanford systems can now push publications that they have approved in SUL-Pub to their </span><span class="c7 c6 c3"><a class="c1" href="https://www.google.com/url?q=https://orcid.org/&amp;sa=D&amp;source=editors&amp;ust=1782164374997705&amp;usg=AOvVaw0cq3xbR3VbQQAzyf5YDHLJ">ORCID profile</a></span><span class="c2">.</span>
</li>
<li class="c4 li-bullet-0">
<span class="c5 c3">ORCID iD (All) = ORCID iD Only + ORCID iD &amp; Update Permission</span><span class="c2">: This dashboard setting includes all researchers who have an ORCID connected with their SUNet, regardless of whether they’ve granted Update Permission or not.</span>
</li>
</ul>
<ul class="c19 lst-kix_4tu3lpuc48s1-0">
<li class="c0 li-bullet-0">
<span class="c5 c3">No ORCID iD</span><span class="c3">: Researchers who may or may not have an ORCID but have not gone through the Stanford </span><span class="c7 c6 c3"><a class="c1" href="https://www.google.com/url?q=https://guides.library.stanford.edu/orcid/register&amp;sa=D&amp;source=editors&amp;ust=1782164374998801&amp;usg=AOvVaw04NdpOOy7UG3FHC22MJaqP">ORCID iD-SUNet integration</a></span><span class="c2">. If they do have an ORCID, the RIALTO systems are not aware of it until they complete the SUNet integration.</span>
</li>
<li class="c0 li-bullet-0">
<span class="c3 c5">School</span><span class="c2">: The primary Stanford school a researcher is affiliated with. In some cases, a researcher may have multiple affiliations. This dashboard only tracks their primary affiliation.</span>
</li>
<li class="c0 li-bullet-0">
<span class="c5 c3">Department</span><span class="c2">: The primary Stanford department a researcher is affiliated with. In some cases, a researcher may have multiple affiliations. This dashboard only tracks their primary affiliation. </span>
</li>
<li class="c0 li-bullet-0">
<span class="c5 c3">Role: </span><span class="c2">The primary Stanford role (for example, Postdoc or Faculty).  In some rare cases, a researcher may have multiple roles in different departments.  The dashboard only tracks their most senior role (e.g. preferring faculty over postdoc).</span>
</li>
</ul>
<h2 class="c15" id="h.e2kxv7kc92qn"><span class="c10">Data Download</span></h2>
<p class="c11"><span class="c3">After filtering the data in a dashboard, you can download the resulting data from the toolbar menu located at the bottom of the dashboard tab. Select the </span><span class="c5 c3 c16">Choose a format to download</span><span class="c3"> button (next to </span><span class="c16 c3">Full screen</span><span class="c3"> and </span><span class="c16 c3">Share</span><span class="c2"> buttons). The Download format options include Image, Data, Crosstab, and more, depending on the dashboard tab.</span></p>
<p class="c13"><span><img alt="" src="<%= image_path 'documentation/orcid-adoption/img-1.png' %>" title=""></span></p>
<p class="c13"><span><img alt="" src="<%= image_path 'documentation/orcid-adoption/img-2.png' %>" title=""></span></p>
<ul class="c19 lst-kix_zhv6nuk0hul5-0 start">
<li class="c0 li-bullet-0">
<span class="c3">Note: If the </span><span class="c16 c5 c3">Data</span><span class="c3"> option is not immediately available (appears grayed out), first click into the relevant chart or table on the dashboard page before selecting </span><span class="c16 c5 c3">Choose a format to download</span><span class="c2">.</span>
</li>
<li class="c0 li-bullet-0">
<span class="c3">The data will open in a popup window. Select </span><span class="c16 c5 c3">Download</span><span class="c2">.</span>
</li>
</ul>
<p class="c13"><span><img alt="" src="<%= image_path 'documentation/orcid-adoption/img-3.png' %>" title=""></span></p>
<ul class="c19 lst-kix_th23lkteqk8-0 start"><li class="c0 li-bullet-0">
<span class="c3">Additional downloads can be found on the </span><span class="c7 c6 c3"><a class="c1" href="https://www.google.com/url?q=https://rialto.stanford.edu/downloads&amp;sa=D&amp;source=editors&amp;ust=1782164375002342&amp;usg=AOvVaw2fCpkYMDqsyhxt-vucsY2j">Downloads page</a></span><span class="c3">, available to approved users upon request. Read the </span><span class="c6 c3 c7"><a class="c1" href="https://www.google.com/url?q=https://rialto.stanford.edu/documentation/downloads&amp;sa=D&amp;source=editors&amp;ust=1782164375002593&amp;usg=AOvVaw0ngWBWsW1VU87bdbdMj-KG">Downloads documentation</a></span><span class="c2"> for more information.</span>
</li></ul>
<p class="c11 c23"><span class="c2"></span></p>
</div>
</div>
<div class='last-updated mb-4 fst-italic'>
  Last updated: June 22, 2026
</div>
