<div id="contents">
<style type="text/css">.doc-content {
@import url(https://themes.googleusercontent.com/fonts/css?kit=5vSxKGgtD1Pm7088AqcDZWUt20uPbwrUgW4A2t_JOSyiXA7pAjWVG99DQTeU85cQ);
.lst-kix_ba7acdgx8j46-3>li:before{
content:"\0025cf   "
}.lst-kix_ba7acdgx8j46-5>li:before{
content:"\0025a0   "
}.lst-kix_ba7acdgx8j46-0>li:before{
content:"\0025cf   "
}.lst-kix_ba7acdgx8j46-4>li:before{
content:"\0025cb   "
}.lst-kix_ba7acdgx8j46-7>li:before{
content:"\0025cb   "
}.lst-kix_ba7acdgx8j46-6>li:before{
content:"\0025cf   "
}.lst-kix_ba7acdgx8j46-8>li:before{
content:"\0025a0   "
}.lst-kix_npjprxhni37n-2>li:before{
content:"\0025a0   "
}.lst-kix_npjprxhni37n-1>li:before{
content:"\0025cb   "
}.lst-kix_npjprxhni37n-0>li:before{
content:"\0025cf   "
}.lst-kix_npjprxhni37n-6>li:before{
content:"\0025cf   "
}.lst-kix_npjprxhni37n-5>li:before{
content:"\0025a0   "
}.lst-kix_npjprxhni37n-7>li:before{
content:"\0025cb   "
}.lst-kix_npjprxhni37n-3>li:before{
content:"\0025cf   "
}ul.lst-kix_ba7acdgx8j46-1{
list-style-type:none
}.lst-kix_npjprxhni37n-4>li:before{
content:"\0025cb   "
}ul.lst-kix_ba7acdgx8j46-0{
list-style-type:none
}li.li-bullet-0:before{
margin-left:-18pt;white-space:nowrap;display:inline-block;min-width:18pt
}ul.lst-kix_ba7acdgx8j46-5{
list-style-type:none
}ul.lst-kix_ba7acdgx8j46-4{
list-style-type:none
}ul.lst-kix_ba7acdgx8j46-3{
list-style-type:none
}ul.lst-kix_ba7acdgx8j46-2{
list-style-type:none
}ul.lst-kix_npjprxhni37n-2{
list-style-type:none
}ul.lst-kix_ba7acdgx8j46-8{
list-style-type:none
}ul.lst-kix_npjprxhni37n-3{
list-style-type:none
}ul.lst-kix_ba7acdgx8j46-7{
list-style-type:none
}ul.lst-kix_npjprxhni37n-0{
list-style-type:none
}ul.lst-kix_ba7acdgx8j46-6{
list-style-type:none
}ul.lst-kix_npjprxhni37n-1{
list-style-type:none
}ul.lst-kix_npjprxhni37n-6{
list-style-type:none
}ul.lst-kix_npjprxhni37n-7{
list-style-type:none
}ul.lst-kix_npjprxhni37n-4{
list-style-type:none
}.lst-kix_ba7acdgx8j46-1>li:before{
content:"\0025cb   "
}ul.lst-kix_npjprxhni37n-5{
list-style-type:none
}.lst-kix_npjprxhni37n-8>li:before{
content:"\0025a0   "
}ul.lst-kix_npjprxhni37n-8{
list-style-type:none
}.lst-kix_ba7acdgx8j46-2>li:before{
content:"\0025a0   "
}ol{
margin:0;padding:0
}table td,table th{
padding:0
}.c1{
-webkit-text-decoration-skip:none;color:#1155cc;font-weight:400;text-decoration:underline;vertical-align:baseline;text-decoration-skip-ink:none;font-size:11pt;font-family:"Arial";font-style:normal
}.c6{
-webkit-text-decoration-skip:none;color:#1155cc;font-weight:400;text-decoration:underline;vertical-align:baseline;text-decoration-skip-ink:none;font-size:11pt;font-family:"Source Sans 3";font-style:normal
}.c2{
padding-top:0pt;padding-bottom:3pt;line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left;height:11pt
}.c12{
color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:16pt;font-family:"Source Sans 3";font-style:normal
}.c13{
padding-top:18pt;padding-bottom:6pt;line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}.c15{
padding-top:20pt;padding-bottom:6pt;line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}.c16{
padding-top:0pt;padding-bottom:3pt;line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}.c10{
color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:26pt;font-family:"Source Sans 3";font-style:normal
}.c4{
color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:20pt;font-family:"Source Sans 3";font-style:normal
}.c11{
color:#000000;font-weight:700;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Source Sans 3";font-style:normal
}.c7{
color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Source Sans 3";font-style:normal
}.c5{
padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left
}.c3{
padding-top:3pt;padding-bottom:0pt;line-height:1.0;text-align:left
}.c14{
background-color:#ffffff;max-width:468pt;padding:72pt 72pt 72pt 72pt
}.c18{
padding:0;margin:0
}.c19{
font-weight:700;font-family:"Source Sans 3"
}.c0{
color:inherit;text-decoration:inherit
}.c9{
margin-left:36pt;padding-left:0pt
}.c17{
margin-left:18pt
}.c8{
height:11pt
}.title{
padding-top:0pt;color:#000000;font-size:26pt;padding-bottom:3pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}.subtitle{
padding-top:0pt;color:#666666;font-size:15pt;padding-bottom:16pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}li{
color:#000000;font-size:11pt;font-family:"Source Sans 3"
}p{
margin:0;color:#000000;font-size:11pt;font-family:"Source Sans 3"
}h1{
padding-top:20pt;color:#000000;font-size:20pt;padding-bottom:6pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}h2{
padding-top:18pt;color:#000000;font-size:16pt;padding-bottom:6pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}h3{
padding-top:16pt;color:#434343;font-size:14pt;padding-bottom:4pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}h4{
padding-top:14pt;color:#666666;font-size:12pt;padding-bottom:4pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}h5{
padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left
}h6{
padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Source Sans 3";line-height:1.15;page-break-after:avoid;font-style:italic;orphans:2;widows:2;text-align:left
}
}</style>
<div class="c14 doc-content">
<p class="c16 title" id="h.de74dqt896y6"><span class="c10">Documentation: Organization Data</span></p>
<p class="c5"><span class="c19">Table of Contents</span></p>
<p class="c3"><span class="c6"><a class="c0" href="#h.ub4rq9d4po01">Information Collected</a></span></p>
<p class="c3"><span class="c6"><a class="c0" href="#h.nx9jim5n6dce">Information Sources</a></span></p>
<p class="c3 c17"><span class="c6"><a class="c0" href="#h.oibjeax2rmt5">Source Discrepancies</a></span></p>
<h1 class="c15" id="h.ub4rq9d4po01"><span class="c4">Information Collected</span></h1>
<p class="c5"><span class="c7">To associate publications with Stanford researchers, RIALTO first gathers data about Stanford researchers from several Stanford sources. This organization data is updated weekly. We collect essential information, which includes:</span></p>
<p class="c5 c8"><span class="c7"></span></p>
<ul class="c18 lst-kix_npjprxhni37n-0 start">
<li class="c5 c9 li-bullet-0"><span class="c7">Researchers’ names and ORCID iDs</span></li>
<li class="c5 c9 li-bullet-0"><span class="c7">Affiliations with Stanford departments and organizations (Stanford units only)</span></li>
<li class="c5 c9 li-bullet-0"><span class="c7">Roles, dates, employment status, and academic council membership</span></li>
</ul>
<p class="c5 c8"><span class="c7"></span></p>
<p class="c5"><span>Only the data strictly required for RIALTO reports is accessed and stored. The data collection process involves querying multiple sources to ensure we have the most current information, such as tracking changes in employment status and linking SUNet IDs with ORCID iDs.</span></p>
<h1 class="c15" id="h.nx9jim5n6dce"><span class="c4">Information Sources</span></h1>
<p class="c5"><span class="c7">RIALTO gathers data about Stanford researchers from several Stanford sources. This information is accessed securely from systems including:</span></p>
<p class="c5 c8"><span class="c7"></span></p>
<ul class="c18 lst-kix_ba7acdgx8j46-0 start">
<li class="c5 c9 li-bullet-0"><span class="c7">Stanford Profiles</span></li>
<li class="c5 c9 li-bullet-0"><span class="c7">Middleware and Integration Services’ Person Web Services API</span></li>
<li class="c5 c9 li-bullet-0"><span class="c7">Middleware and Integration Services’ Person ORCID API</span></li>
<li class="c5 c9 li-bullet-0"><span>Stanford Libraries Catalog</span></li>
</ul>
<h2 class="c13" id="h.oibjeax2rmt5"><span class="c12">Source Discrepancies</span></h2>
<p class="c5"><span class="c7">The data in the Profiles and Person APIs comes from authoritative sources, including Stanford’s human resources and other institutional systems. These systems apply specific business logic to determine and report faculty, staff, and student affiliations and roles. This may occasionally lead to differences between the information displayed in RIALTO and other non-human resources systems, such as department- or school-specific listings of faculty and staff, due to the fact that some Stanford researchers have multiple affiliations or roles.</span></p>
<p class="c2 title" id="h.dhwb082u3e1r"><span class="c10"></span></p>
<p class="c5 c8"><span class="c7"></span></p>
</div>
</div>
<div class='last-updated mb-4 fst-italic'>
                        Last updated: June 12, 2026
                      </div>
