/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

.home-page-hero {
  height: 368px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.doc-content {
  padding: 0!important;
  margin-bottom: 4rem;
  max-width: 100%!important;
  /* For some reason google docs have the span have a text decoration of underline and the a have a text-decoration of inherit, which gives a double underline */
  a {
    text-decoration: none!important;
  }
}

.modal {
  padding-top: 35%;
}
