name: update_google_docs
on: 
  schedule:
    - cron: '0 3 * * 1'
  workflow_dispatch:
permissions:
  contents: write
  pull-requests: write
jobs:
  update_google_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: true
          fetch-depth: 0
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4
          bundler-cache: true
      - name: harvest Google docs
        run: bundle exec rake google_docs:harvest
      - name: Create Pull Request
        uses: puppetlabs/peter-evans-create-pull-request@v3
        if: steps.check.outputs.no_files != 'true'
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          base: main
          branch: update-google-docs
          commit-message: update google docs
          title: "Automated: update documentation files"
          body: "This PR updates documentation files from Google Docs."
          labels: automated
